div.grid_pager {
    text-align:left;

}
table.login_table {
    margin-left:auto;
    margin-right:auto;
}
td.login_title {
    border:solid 2px darkolivegreen;
}
.login_title {
    background-color:darkolivegreen;
    color:white;
}
table.schedule_table {
    border-collapse:collapse;
}
div.titlebar {
    position:relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    /*padding-top:0.75em;*/
    background-color:white;
    font-size:large;
    font-weight:bold;
    color:darkolivegreen;
    text-align:center;
}
img.titlebar_logo {
    position:relative;
    float:left;
    left:100px;
    top:0px;
    width:150px;
    height:40px;
    margin-right:50px;
}

a.titlebar_button {
    position:relative;
    float:left;
    top:0px;
    left:200px;
    font-size:small;
    display:block;
    width:120px;
    height:22px;
    padding-top:6px;
    margin-top:1px;
    margin-right:10px;
    text-align:center;
    border:1px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    cursor:pointer;
}

a.titlebar_button:hover{
    background:#777777;
}
span.titlebar {
    position:relative;
    float:left;
    top:10px;
    left:70px;
    font-size:1em;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
span.login_user {
    position:relative;
    float:left;
    top:10px;
    left:160px;
    font-size:1em;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

div.gantt_table {
    position:relative;
    border:1px #000000 solid;
    width:100%;/*945px;*/
    font-size:small;
    /*overflow:auto;*/
}
div.gt_left_div {
    float:left;
    position:relative;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px #777777 solid;
    width: 20%;
}

div.gt_left_top_div {
    position:relative;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:100%;
    height:72px;

}
div.gt_left_top1_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:1px #777777 solid;
    width:100%;
    height:33px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 16px;
}
div.gt_left_top2_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:100%;
    height:24px;
    background-color:#ecf9d2;
}


div.gt_right_div {
    position:relative;
    top:0px;
    left:0px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px #000000 solid;
    width: 78%;
    overflow:auto;
}
div.gt_right_top_div {

    position:relative;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:1px #777777 solid;
    border-right:  1px #000000 solid;
    /*width:703px;*/
    width:100%;
    height:72px;
    background-color:#ecf9d2;
}
div.gt_right_top1_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:  1px #777777 solid;
    /*width:703px;*/
    width:100%;
    height:24px;
    background-color:#ecf9d2;
}
div.gt_right_top2_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:  1px #777777 solid;
    /*width:703px;*/
    width:100%;
    height:24px;
    background-color:#ecf9d2;

}
div.gt_right_top3_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:  1px #777777 solid;
    /*width:703px;*/
    width:100%;
    height:24px;
    background-color:#ecf9d2;

}

div.gt_category1_div {
    float:left;
    position:absolute;
    top:0px;
    border-bottom:none;
    width:50%;
    height:24px;
    font-weight:bold;
    padding-left:4px;
    padding-top:2px;
    margin-top:0px;
    word-wrap:break-word;
    overflow:hidden;
}

div.gt_category2_div {
    position:absolute;
    top:0px;
    left:50%;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:1px #777777 solid;
    border-right:none;
    width:50%;
    height:24px;
    font-weight:bold;
    padding-left:0px;
    padding-top:0px;
    margin-top:0px;
    word-wrap:break-word;
    overflow:hidden;
}
label.gt_label {
    display:block;
    margin-top:0.25em;
    margin-left:0.25em;
}
/*ガントチャート左側の行*/
div.gt_left_row_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:  1px #777777 solid;
    width:100%;
    height:64px;
}
/*ガントチャート右側の行*/
div.gt_right_row_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:  1px #777777 solid;
    width:704px;
    height:64px;
    overflow: hidden;
}
div.gt_right_row_line_div {
    position:absolute;
    top:0px;
    border-top:1px #777777 solid;
    border-bottom:none;
    border-left:none;
    border-right:  1px #777777 solid;
    width:704px;
    height:64px;
    overflow: hidden;
}
div.gt_cal_header {
    position:absolute;
    border-left: none;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    width:100px;
    height:1.5em;
    padding-top:0.25em;
    padding-left:2em;
    margin-top:2px;
    margin-left:0px;
    text-align:left;
    font-weight:bold;
}
div.gt_cal_header_date {
    position:absolute;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    width:100px;
    height:1.5em;
    padding-top:0.25em;
    margin-top:2px;
    margin-left:0px;
    text-align:center;
    font-weight:bold;
}

a.gt_button {
    position:absolute;
    float:left;
    top:4px;
    left:0px;
    font-size:1em;
    display:block;
    width:100px;
    height:1.75em;
    padding-top:0.25em;
    margin-top:4px;
    margin-left:0px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    font-weight:bold;
    cursor:pointer;
}

a.gt_button:hover {
    background: #777777;
}
a.gt_mode_button {
    position:absolute;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    display:inline-block;
    outline: none;
    width:98%;
    height:2.0em;
    padding-top:1em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #ff6a00;
	border-radius: 4px;
	color: #fff;
	line-height: 2.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #ff0000;
    font-weight:bold;
    cursor:pointer;
}

a.gt_mode_button:hover {
    background-color: #ff6a99;
	box-shadow: 0 3px 0 #ff0000;}
a.gt_mode_button:active {
    top:3px;
    box-shadow:none;
}
/* ガントチャート作業項目追加用ボタン */
a.gt_workitem_button {
    position:absolute;
    top:64px;
    left:10px;
    font-size:1em;
    display:inline-block;
    outline: none;
    width:80%;
    height:1.0em;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 1.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
    font-weight:bold;
    box-shadow: 0 3px 0 #0e8c73;
    cursor:pointer;
}

a.gt_workitem_button:hover {
    background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;}
a.gt_workitem_button:active {
    top:67px;
    box-shadow:none;
}
/* テンプレート保存ボタン */
a.gt_template_button {
    position:absolute;
    top:20px;
    left:10px;
    font-size:1em;
    display:inline-block;
    outline: none;
    width:80%;
    height:1.0em;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 1.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
    font-weight:bold;
    box-shadow: 0 3px 0 #0e8c73;
    cursor:pointer;
}

a.gt_template_button:hover {
    background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
a.gt_template_button:active {
    top:23px;
    box-shadow:none;
}
/* テンプレート選択ボタン */
a.gt_template_select_button {
    position:absolute;
    left:10px;
    top:42px;
    font-size:1em;
    display:inline-block;
    outline: none;
    width:80%;
    height:1.0em;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 1.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
    font-weight:bold;
    box-shadow: 0 3px 0 #0e8c73;
    cursor:pointer;
}

a.gt_template_select_button:hover {
    background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
a.gt_template_select_button:active {
    top:45px;
    box-shadow:none;
}
/*ガントチャートに表示する作業項目（帯）*/
a.gt_workitem_band {
    position:absolute;
    float:left;
    top:0px;
    left:10px;
    font-size:12px;
    display:inline-block;
    outline: none;

    height:16px;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #0094ff;
	border-radius: 4px;
	color: #fff;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #061150;
    font-weight:bold;
}
a.gt_workitem_band:hover {
    background-color: #0094aa;
	box-shadow: 0 3px 0 #061150;

}
a.gt_workitem_band:active {
    top: 3px;
    box-shadow: none;
}
/*ガントチャートに表示する作業項目の進捗度（帯）*/
a.gt_workitem_progress {
    position:absolute;
    float:left;
    top:0px;
    left:10px;
    font-size:12px;
    display:inline-block;
    outline: none;

    height:16px;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #0e8c73;
	border-radius: 4px;
	color: black;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #061150;
    font-weight:bold;
}


a.gt_workitem_progress:hover {
    background-color: #1abc9c;
	box-shadow: 0 3px 0 #061150;}
a.gt_workitem_progress:active {
    top:3px;
    box-shadow:none;
}

a.gt_milestone {
    position:absolute;
    float:left;
    top:4px;
    left:0px;
    font-size:1em;
    display:block;
    width:200px;
    height:32px;
    padding-top:0px;
    margin-top:0px;
    margin-left:0px;
    text-align:left;
    border:none;
}

/*
*  for Portal Menu
*/
div.main_menu {
    position:relative;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    width:900px;
    height:1200px;
}
div.menu_title {
    position:relative;
    border-top:none;
    border-bottom:1px solid #0026ff;
    border-left:none;
    border-right:none;
    width:100%;
    height:2em;
    background-color:darkolivegreen;
    color:white;
    font-size:1em;
    font-weight:700;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.5em;
    padding-left:0px;
    text-align:center;
}
div.main_menu_row {
    position:relative;
    margin-top:20px;
    border-top:2px #4cff00 solid;
    border-bottom:2px #4cff00 solid;
    border-left:2px #4cff00 solid;
    border-right:2px #4cff00 solid;
    width:900px;
    height:160px;
    margin-left:auto;
    margin-right:auto;

}
div.main_menu_row_b {
    position:relative;
    margin-top:20px;
    border-top:2px #4cff00 solid;
    border-bottom:2px #4cff00 solid;
    border-left:2px #4cff00 solid;
    border-right:2px #4cff00 solid;
    width:900px;
    height:140px;
    margin-left:auto;
    margin-right:auto;

}
div.main_menu_row_c {
    position:relative;
    margin-top:20px;
    border-top:2px #4cff00 solid;
    border-bottom:2px #4cff00 solid;
    border-left:2px #4cff00 solid;
    border-right:2px #4cff00 solid;
    width:900px;
    height:220px;
    margin-left:auto;
    margin-right:auto;

}

div.main_menu_col_left {
    float:left;
    position:relative;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding-top:20px;
    padding-left:20px;
    width:300px;
    height:200px;

}
div.main_menu_col_right {
    position:relative;
    left:300px;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding-top:20px;
    padding-left:20px;
    width:300px;
    height:200px;

}

a.menu_button_a {
    float:left;
    top:0px;
    font-size:1.2em;
    display:block;
    width:130px;
    height:60px;
    padding-top:10px;
    margin-top:10px;
    margin-left:10px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
	border-radius: 6px;
    cursor:pointer;
}

a.menu_button_a:hover{
    background:#777777;
}

a.menu_button_b {
    float:left;
    top:0px;
    font-size:1.5em;
    display:block;
    width:120px;
    height:100px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
	border-radius: 6px;
    cursor:pointer;
}

a.menu_button_b:hover {
    background: #777777;
}

a.menu_button_c {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    width:850px;
    height:70px;
    padding-top:10px;
    margin-top:10px;
    margin-left:10px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
	border-radius: 6px;
    cursor:pointer;
}

a.menu_button_c:hover{
    background:#777777;
}

div.admin_div {
    position:relative;
    margin-top:0px;
    border:solid 1px #000000;
    border:none;
    width:100%;
    height:80%;
    font-size:small;
    overflow:auto;
}
div.toolbar {
    position:relative;
    border:none;
    width:100%;
    height:40px;
    font-size:small;
    margin-bottom:10px;
}
a.tool_button_a {
    position:relative;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    display:inline-block;
    outline: none;
    width:120px;
    height:22px;
    padding-top:3px;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: green;
	border-radius: 4px;
	color: #fff;
	line-height: 2.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 darkolivegreen;
    font-weight:bold;
    cursor:pointer;
}

a.tool_button_a:hover{
    background:#31c8aa;
	box-shadow: 0 3px 0 #061150;
}
a.tool_button_a:active{
    top:3px;
	box-shadow: none;
}
a.tool_button_b {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    height:22px;
    padding-top:6px;
    padding-left:4px;
    padding-right:4px;
    margin-top:1px;
    margin-left:700px;
    text-align:center;
    border:1px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    cursor:pointer;
}

a.tool_button_b:hover {
    background: #777777;
}
label.toolbar_label {
  margin-left: 10px;
  font-size: 1.5em;
  color: green;
  top: 10px;
}
div.toolbar_fields {
    display: inline-block;
}
input.select_date {
}
select.select_span {
}
input.search_option_check {
    float:left;
    top:0px;
    font-size:1em;
    margin-top:2px;

}
label.search_option_check {
    float:left;
    top:0px;
    font-size:1em;
    margin-top:12px;

}
fieldset.search_option_set {
    float:left;
    border:solid 1px;
    margin-left:4px;
}
/* 案件フォーム内の見積発行ボタン */
a.form_button {
    position:relative;
    float:left;
    top:0px;
    left:0px;
    font-size:0.8em;
    display:inline-block;
    outline: none;
    width:120px;
    height:22px;
    padding-top:3px;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: green;
	border-radius: 4px;
	color: #fff;
	line-height: 2.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 darkolivegreen;
    font-weight:bold;
    cursor:pointer;
}

a.form_button:hover{
    background:#31c8aa;
	box-shadow: 0 3px 0 #061150;
}
a.form_button:active{
    top:3px;
	box-shadow: none;
}

div.admin_left_div {
    float:left;
    position:absolute;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 640px;
    height: 600px;
}
div.admin_right_div {
    position: absolute;
    left:640px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #777777;
    border-right:1px solid #777777;
    width: 260px;
    height: 600px;
}

.gt_milestone {
    position:relative;
    float:left;
    height:32px;
    width:32px;
    display:block;
}

/* オーバーレイでモーダルウィンドウを表示するための定義 */
#graylayer {
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
    opacity:0.60;
    filter:alpha(opacity=60);
}
#overlayer {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    width:60%;
    height:80%;
}
#overlayer img.close {
    position:absolute;
    top:-8px;
    right:-8px;
    cursor:pointer;
}
#entry_modal {
    width:100%;
    height:100%;
}

/* 試験スケジュールカレンダー表示用 */
div.calendar_div {
    /*overflow:auto;*/
    width:100%;
    height : 500px;
    border-top: 1px solid #777777;
    border-bottom:1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}
div.cal_header {
    position:relative;
    width:100%;
    height: 20px;
}
div.cal_body {
    position:relative;
    overflow:auto;
    border-top: 1px solid #777777;
    border-bottom:1px solid #777777;
    border-right: 1px solid #777777;
}
div.cal_day_base {
    position:relative;
    height:40px;
    border-bottom:1px solid #777777;
    background-color:white;
}
div.cal_date {
    position:relative;
    float:left;
    left:0;
    top:0;
    width:20px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-right:4px;

}
div.cal_day {
    position:relative;
    float:left;
    top:0;
    width:20px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;
}
div.cal_day_times {
    position:relative;
    float:left;
    top:0;
    height:38px;
    margin-top:1px;
    border-right:1px solid #777777;
}
div.cal_day_times_header_up {
    position:relative;
    float:left;
    top:0;
    height:19px;
    margin-top:0px;
    border-right:1px solid #777777;
    border-bottom:1px solid #777777;
}
div.cal_day_times_header_low {
    position:relative;
    float:left;
    top:0px;
    width:19px;
    height:18px;
    margin-top:1px;
    border-right:1px solid #777777;
}

div.cal_memo {
    position:relative;
    float:left;
    top:0;
    width:160px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;

}

/* 安全性試験スケジュールカレンダー */
div.cal_patch_base {
    position:relative;
    width: 100%;
    background-color:white;
}
div.cal_patch_header {
    position:relative;
    width: 100%;
}
div.cal_patch_body {
    position:relative;
    width: 100%;
    height:540px;
    overflow:auto;
}
div.cal_patch_left_div {
    position:relative;
    float : left;
    width : 60px;
}
div.cal_patch_right_div {
    position:relative;
    left: 40px;
    /*overflow : auto;*/
}
div.cal_patch_left_row {
    position:relative;
    width: 100%;
    height:60px;
}
div.cal_patch_right_row {
    position:absolute;
    width: 100%;
    height:60px;
}
div.cal_patch_no {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 100%;
    height: 53px;
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
    padding-top: 6px;
    text-align : center;
}
div.cal_patch_week_div {
    position: relative;
    top:0px;
    width: 100%;
    height:60px;
    border-left: 1px solid #777777;
}
div.cal_patch_week {
    float:left;
    top:0;
    width: 100%;
    height:60px;
}
div.cal_patch_week_header_1 {
    position : absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:30px;
}
div.cal_patch_week_header_2 {
    position : absolute;
    top:30px;
    left:0px;
    width: 100%;
    height:30px;
}
div.cal_patch_week_header_up {
    position:relative;
    float : left;
    top:0;
    height:30px;
    border-right:1px solid #777777;
    border-bottom:1px solid #777777;
    padding-left : 1px;
    text-align : center;
    overflow : hidden;
    background-color:#ecf9d2;
}
div.cal_patch_week_header_low {
    position :relative;
    float:left;
    top:0px;
    height:28px;
    border-right:1px solid #777777;
    border-top: 1px solid #777777;
    border-bottom:1px solid #777777;
    text-align : center;
}
div.cal_patch_week_day {
    position :relative;
    float:left;
    top:0px;
    left:0px;
    height:59px;
    border-bottom:1px solid #777777;
    border-right:1px solid #777777;
    /*overflow:auto;*/
}
div.cal_patch_week_low {
    position:relative;
    float:left;
    top:0px;
    height:18px;
    margin-top:1px;
    border-right:1px solid #777777;
    background-color:#ecf9d2;
}

div.cal_patch_memo {
    position:relative;
    float:left;
    top:0;
    width:80px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;

}

a.cal_add_button {
    position:relative;
    top:1px;
    left:1px;
    font-size:12pt;
    display:inline-block;
    outline: none;
    width:16px;
    height:16px;
    padding-top:2px;
    margin-top:1px;
    margin-left:1px;
    margin-right:2px;
    margin-bottom:2px;
    text-align:center;
    background-color: #1abc9c;
	border-radius: 2px;
	color: #fff;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 1px 0 #0e8c73;
    font-weight:bold;
    box-shadow: 0 1px 0 #0e8c73;
    cursor:pointer;
}

a.cal_add_button:hover {
    background-color: #31c8aa;
	box-shadow: 0 1px 0 #23a188;}
a.cal_add_button:active {
    top:4px;
    box-shadow:none;
}
div.schedule_data {
    font-size: 11pt;
    background-color: white;
    height:36px;
    overflow:auto;
    cursor:pointer;
}
div.schedule_data:hover {
    background-color: #ecf9d2;
    border:solid 1px;
}
a.schedule_band {
    position:absolute;
    float:left;
    top:0px;
    left:10px;
    font-size:12px;
    display:inline-block;
    outline: none;

    height:28px;
    padding-top:0.25em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #0094ff;
	border-radius: 4px;
	color: #fff;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #061150;
    font-weight:bold;
    cursor:pointer;
}
a.schedule_band:hover {
    background-color: #0094aa;
	box-shadow: 0 3px 0 #061150;

}
a.schedule_band:active {
    top: 3px;
    box-shadow: none;
}

.form_title {
    text-align:right;
    width:200px;
}
.form_title_m {
    text-align:right;
    width:120px;
}
.form_title_s {
    text-align:right;
    width:90px;
}
.form_title_ss {
    text-align:right;
    width:60px;
}


a.general_button {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    width:120px;
    height:60px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    cursor:pointer;
}

a.general_button:hover{
    background:#777777;
}
/* 入力フィールドの右詰 */
.num_type {
    text-align: right;
}

#tabs {
    width: 100%;
    font-size: 12px;
}
#tabs .ui-tabs-panel {
    overflow: hidden;

}
select#entry_list {
    width: 200px;
}
select#quote_list {
    width:200px;
}

div#entry_dialog {
    height: 600px;

}
span.remark {
    color:red;
}
/* 見積書フォームの定義 */
form#estimateForm {
    width:100%;
}
span#estimate_title {
    font-size:28px;
}
span#estimate_title2 {
    font-size:20px;
}
div.estimate_top {
    position:relative;
    padding-top:20px;
    width:100%;
    height:50px;
    text-align:center;
}
div.estimate_billing_left {
    position:relative;
    left:0px;
    float:left;
    width:50%;
    height:280px;
}
div.estimate_billing_right {
    position:relative;
    float: left;
    width: 50%;
    height:280px;
}
div.estimate_mid {
    position:absolute;
    top:300px;
    width:90%;
    height:200px;
    text-align:left;
    height:80px;
}
div.estimate_meisai {
    position:absolute;
    top:400px;
    width:90%;
    height:600px;
    text-align:left;
}
input#billing_company_name_1 {
    font-size:16px;
}
input#billing_company_name_2 {
    font-size:16px;
}
input#billing_division {
    font-size: 16px;
}
input#billing_person {
    font-size: 16px;
}
input#quote_title {
    font-size: 16px;
}
input#quote_title1 {
    font-size: 16px;
}
input#quote_title2 {
    font-size: 16px;
}
input#quote_title3 {
    font-size: 16px;
}
input#quote_expire {
    font-size: 16px;
}
label#quote_total_title {
    font-size: 20px;
    font-weight:bold;
}
input#quote_total_price {
    font-size: 20px;
    font-weight:bold;
}
div.quote_total {
    border-bottom:solid 3px;
}
table.estimate_meisai_table {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 570px;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 100%;
}

table.estimate_meisai_table caption {
  margin-top: 1em;
  text-align: left;
}

table.estimate_meisai_table th,
table.estimate_meisai_table td {
  border: solid 1px #999;
  padding: 4px 6px;
}

table.estimate_meisai_table th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

table.client_list {
    /*height:400px;*/
    /*width:80%;*/
}
canvas#canvas {
    height:1500px;
    width:900px;
    visibility:hidden;
}
/* テンプレート選択ダイアログ */
/* リスト表示用テーブル*/
table.template_table {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 480px;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 100%;
}

table.template_table caption {
  margin-top: 1em;
  text-align: left;
}

table.template_table th,
table.template_table td {
  border: solid 1px #999;
  padding: 4px 6px;
}

table.template_table th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
}
/* 選択ボタン */
a.template_select_button {
    position:relative;
    display:inline-block;
    left:10px;
    bottom:6px;
    font-size:1em;
    outline: none;
    width:80%;
    height:1.0em;
    padding-top:0.25em;
    margin-top:10px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 1.0em;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
    font-weight:bold;
    box-shadow: 0 3px 0 #0e8c73;
    cursor:pointer;
}

a.template_select_button:hover {
    background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
a.template_select_button:active {
    bottom:4px;
    box-shadow:none;
}

div.select_template {
    overflow:auto;
}

div.left_grid {
    position:relative;
    float:left;
    width:400px;
}
div.right_grid {
    position:relative;
    float:left;
    padding-left:10px;
    width:900px;
}

/* 動作設定*/
form#configForm {
    font-size:1.2em;
}

/* ツールチップ*/
div.tooltip {
    width: 120px;
    position: absolute;
    left: -9999px;
    background: white;
    padding: 1px;
    border: 1px solid #AAA;
}

div.tooltip p{
    color: black;
    background: white;
    padding: 4px 4px;
    word-wrap:break-word;
}

table.auth_table {
    border-collapse:collapse;
}
.auth_table_title_s {
    text-align: center;
    width: 80px;
}
.auth_table_title_l {
    text-align:center;
    width:120px;
}

td.auth_table_check {
    align-content: center;
}

/* 案件入力から参照するクライアントリストダイアログの文字サイズ */
#client_list_dialog {
    font-size: 0.8em;
}
div.client_grid {

    overflow:auto;
}

/* Japanese glyphs - size: 1.2MB */
@font-face {
  font-family: JapaneseWithGentium;
  src: local(MSMincho);
}
@font-face {
  font-family: 'MS PGothic';
  src: local(MSPGothic);
}
