table.login_table {
    margin-left:auto;
    margin-right:auto;
}
td.login_title {
    border:solid 2px darkolivegreen;
}
.login_title {
    background-color:darkolivegreen;
    color:white;
}
table.schedule_table {
    border-collapse:collapse;
}
div.titlebar {
    position:relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    /*padding-top:0.75em;*/
    background-color:white;
    font-size:large;
    font-weight:bold;
    color:darkolivegreen;
    text-align:center;
}
img.titlebar_logo {
    position:relative;
    float:left;
    left:100px;
    top:0px;
    width:150px;
    height:40px;
    margin-right:50px;
}

a.titlebar_button {
    position:relative;
    float:left;
    top:0px;
    font-size:small;
    display:block;
    width:80px;
    height:22px;
    padding-top:6px;
    margin-top:1px;
    margin-right:10px;
    text-align:center;
    border:1px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.titlebar_button:hover{
    background:#777777;
}
span.titlebar {
    position:relative;
    float:left;
    top:10px;
    left:70px;
    font-size:1em;
    display:block;
    /*width:400px;*/
    /*height:20px;*/
    margin-left:auto;
    margin-right:auto;

}

div.gantt_table {
    position:relative;
    border:1px #000000 solid;
    width:945px;
    font-size:small;
}
div.gt_left_div {
    float:left;
    position:relative;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px #777777 solid;
    width: 240px;
}

div.gt_left_top_div {
    position:relative;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:240px;
    height:6em;

}
div.gt_left_top1_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:1px #777777 solid;
    width:240px;
    height:4.1em;
    
}
div.gt_left_top2_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:1px #777777 solid;
    width:240px;
    height:2em;
    background-color:#ecf9d2;

}


div.gt_right_div {
    position:relative;
    top:0px;
    left:240px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px #000000 solid;
    width: 704px;
}
div.gt_right_top_div {

    position:relative;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:1px #777777 solid;
    border-right:  1px #000000 solid;
    width:703px;
    height:6em;
    background-color:#ecf9d2;
}
div.gt_right_top1_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:703px;
    height:2em;
    background-color:#ecf9d2;
    
}
div.gt_right_top2_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:703px;
    height:2em;
    background-color:#ecf9d2;

}
div.gt_right_top3_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:703px;
    height:2em;
    background-color:#ecf9d2;

}

div.gt_category1_div {
    float:left;
    position:absolute;
    top:0px;
    border-top:none;
    border-bottom:none;
    border-left:1px #777777 solid;
    width:120px;
    height:2em;
    font-weight:bold;
    padding-left:4px;
    padding-top:0.25em;
    word-wrap:break-word;
    overflow:hidden;
}

div.gt_category2_div {
    position:absolute;
    top:0px;
    left:120px;
    border-top:none;
    border-bottom:none;
    border-left:1px #777777 solid;
    border-right:none;
    width:120px;
    height:2em;
    font-weight:bold;
    padding-left:4px;
    word-wrap:break-word;
    overflow:hidden;
}
label.gt_label {
    display:block;
    margin-top:0.25em;
    margin-left:0.25em;
}
div.gt_left_row_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:240px;
    height:3em;

}
div.gt_right_row_div {
    position:relative;
    top:0px;
    border-top:none;
    border-bottom:1px #777777 solid;
    border-left:none;
    border-right:none;
    width:704px;
    height:3em;

}
div.gt_cal_header {
    position:absolute;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    width:100px;
    height:1.5em;
    padding-top:0.25em;
    margin-top:2px;
    margin-left:0px;
    text-align:center;
    font-weight:bold;
}

a.gt_button {
    position:absolute;
    float:left;
    top:4px;
    left:0px;
    font-size:1em;
    display:block;
    width:100px;
    height:1.75em;
    padding-top:0.25em;
    margin-top:4px;
    margin-left:0px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    font-weight:bold;
}

a.gt_button:hover {
    background: #777777;
}
a.gt_mode_button {
    position:absolute;
    float:left;
    top:0px;
    left:0px;
    font-size:1em;
    display:block;
    width:232px;
    height:2.25em;
    padding-top:1em;
    margin-top:3px;
    margin-left:2px;
    margin-right:1px;
    margin-bottom:1px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
    font-weight:bold;
}

a.gt_mode_button:hover {
    background: #777777;
}

a.gt_milestone {
    position:absolute;
    float:left;
    top:4px;
    left:0px;
    font-size:1em;
    display:block;
    width:32px;
    height:32px;
    padding-top:0.25em;
    margin-top:4px;
    margin-left:0px;
    text-align:center;
    border:none;
}

a.gt_button:hover {
    background: #777777;
}
/*
*  for Portal Menu
*/
div.main_menu {
    position:relative;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    width:760px;
    height:720px;
}
div.menu_title {
    position:relative;
    border-top:none;
    border-bottom:1px solid #0026ff;
    border-left:none;
    border-right:none;
    width:590px;
    height:2em;
    background-color:darkolivegreen;
    color:white;
    font-size:1em;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.5em;
    padding-left:10px;
}
div.main_menu_row {
    position:relative;
    margin-top:20px;
    border-top:2px #4cff00 solid;
    border-bottom:2px #4cff00 solid;
    border-left:2px #4cff00 solid;
    border-right:2px #4cff00 solid;
    width:600px;
    height:200px;
    margin-left:auto;
    margin-right:auto;

}
div.main_menu_row_b {
    position:relative;
    margin-top:20px;
    border-top:2px #4cff00 solid;
    border-bottom:2px #4cff00 solid;
    border-left:2px #4cff00 solid;
    border-right:2px #4cff00 solid;
    width:600px;
    height:360px;
    margin-left:auto;
    margin-right:auto;

}

div.main_menu_col_left {
    float:left;
    position:relative;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding-top:20px;
    padding-left:20px;
    width:300px;
    height:200px;

}
div.main_menu_col_right {
    position:relative;
    left:300px;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding-top:20px;
    padding-left:20px;
    width:300px;
    height:200px;

}

a.menu_button_a {
    float:left;
    top:0px;
    font-size:2em;
    display:block;
    width:260px;
    height:100px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.menu_button_a:hover{
    background:#777777;
}

a.menu_button_b {
    float:left;
    top:0px;
    font-size:1.5em;
    display:block;
    width:120px;
    height:100px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.menu_button_b:hover {
    background: #777777;
}

a.menu_button_c {
    float:left;
    top:0px;
    font-size:2em;
    display:block;
    width:540px;
    height:100px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.menu_button_c:hover{
    background:#777777;
}

div.admin_div {
    position:relative;
    margin-top:0px;
    border:solid 1px #000000;
    border:none;
    width:100%;
    height:80%;
    font-size:small;
    overflow:auto;
}
div.toolbar {
    position:relative;
    border:none;
    width:100%;
    height:30px;
    font-size:small;
    margin-bottom:10px;
}

a.tool_button_a {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    width: 120px;
    height:22px;
    padding-top:6px;
    padding-left:4px;
    padding-right:4px;
    margin-top:1px;
    margin-left:4px;
    text-align:center;
    border:1px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.tool_button_a:hover{
    background:#777777;
}
a.tool_button_b {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    height:22px;
    padding-top:6px;
    padding-left:4px;
    padding-right:4px;
    margin-top:1px;
    margin-left:700px;
    text-align:center;
    border:1px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.tool_button_b:hover {
        background: #777777;
}


div.admin_left_div {
    float:left;
    position:absolute;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 640px;
    height: 600px;
}
div.admin_right_div {
    position: absolute;
    left:640px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #777777;
    border-right:1px solid #777777;
    width: 260px;
    height: 600px;
}

.gt_milestone {
    position:relative;
    float:left;
    height:32px;
    width:32px;
    display:block;
}

/* オーバーレイでモーダルウィンドウを表示するための定義 */
#graylayer {
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
    opacity:0.60;
    filter:alpha(opacity=60);
}
#overlayer {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    width:80%;
    height:90%;
}
#overlayer img.close {
    position:absolute;
    top:-8px;
    right:-8px;
    cursor:pointer;
}
#entry_modal {
    width:100%;
    height:100%;
}

/* カレンダー表示用 */
div.calendar_div {
    overflow:auto;
    width:90%;
    height:500px;
    border-top: 1px solid #777777;
    border-bottom:1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

div.cal_day_base {
    position:relative;
    width:1288px;
    height:40px;
    border-bottom:1px solid #777777;
    background-color:white;
}
div.cal_date {
    position:relative;
    float:left;
    left:0;
    top:0;
    width:36px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-right:4px;
 
}
div.cal_day {
    position:relative;
    float:left;
    top:0;
    width:39px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;
}
div.cal_day_times {
    position:relative;
    float:left;
    top:0;
    width:1040px;
    height:38px;
    margin-top:1px;
    border-right:1px solid #777777;
}
div.cal_day_times_header_up {
    position:relative;
    float:left;
    top:0;
    width:79px;
    height:19px;
    margin-top:0px;
    border-right:1px solid #777777;
    border-bottom:1px solid #777777;
}
div.cal_day_times_header_low {
    position:relative;
    float:left;
    top:0px;
    width:19px;
    height:18px;
    margin-top:1px;
    border-right:1px solid #777777;
}

div.cal_memo {
    position:relative;
    float:left;
    top:0;
    width:160px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;

}
div.cal_patch_base {
    position:relative;
    width:1283px;
    height:40px;
    border-bottom:1px solid #777777;
    background-color:white;
}
div.cal_patch_no {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 36px;
    height: 34px;
    margin-top: 1px;
    border-right: 1px solid #777777;
    padding-top: 6px;
    padding-right: 4px;
}
div.cal_branch_title {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 36px;
    height: 34px;
    margin-top: 1px;
    border-right: 1px solid #777777;
    padding-top: 1px;
    padding-right: 4px;
    font-size:0.7em;
}
div.cal_branch_up {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 36px;
    height: 18px;
    margin-top: 0px;
    border-right: 1px solid #777777;
    border-bottom:1px solid #777777;
    padding-top: 0px;
    padding-right: 4px;
    font-size:0.7em;
}
div.cal_branch_low {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 36px;
    height: 18px;
    margin-top: 1px;
    border-right: 1px solid #777777;
    padding-top: 0px;
    padding-right: 4px;
    font-size:0.7em;
    background-color:#ecf9d2;
}

div.cal_patch_week {
    position:relative;
    float:left;
    top:0;
    width:1200px;
    height:38px;
    margin-top:1px;
    border-right:1px solid #777777;
}
div.cal_patch_week_header_up {
    position:relative;
    float:left;
    top:0;
    width:239px;
    height:19px;
    margin-top:0px;
    border-right:1px solid #777777;
    border-bottom:1px solid #777777;
}
div.cal_patch_week_header_low {
    position:relative;
    float:left;
    top:0px;
    width:119px;
    height:18px;
    margin-top:1px;
    border-right:1px solid #777777;
}
div.cal_patch_week_up {
    position:relative;
    float:left;
    top:0px;
    width:119px;
    height:18px;
    margin-top:1px;
    border-bottom:1px solid #777777;
    border-right:1px solid #777777;
}
div.cal_patch_week_low {
    position:relative;
    float:left;
    top:0px;
    width:119px;
    height:18px;
    margin-top:1px;
    border-right:1px solid #777777;
    background-color:#ecf9d2;
}

div.cal_patch_memo {
    position:relative;
    float:left;
    top:0;
    width:80px;
    height:34px;
    margin-top:1px;
    border-right:1px solid #777777;
    padding-top:6px;
    padding-left:2px;

}
.entry_title {
    text-align:right;
    width:200px;
}

div.tabPanel {
    overflow:auto;
    width:90%;
    height:480px;
}

a.general_button {
    float:left;
    top:0px;
    font-size:1em;
    display:block;
    width:120px;
    height:60px;
    padding-top:20px;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
    background:#cccccc;
}

a.general_button:hover{
    background:#777777;
}
/* 入力フィールドの右詰 */
.num_type {
    text-align: right;
}