doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/AdminMenu.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div(class="titlebar")
			span(class="titlebar") 
				a(href="portal") Home
			img(class="titlebar_logo" src="images/drc_logo.jpg")
			span(class="titlebar")= title
		div(id="tabs")
			ul
				li
					a(href="#tabs-1") 顧客管理
				li
					a(href="#tabs-2") 被験者管理
				li
					a(href="#tabs-3") 社員情報管理
				li
					a(href="#tabs-4") 試験テンプレート管理
			div(id="tabs-1")
				p 顧客管理
			div(id="tabs-2")
				div(class="toolbar")
					a(class="tool_button_a" id="add_subject") 追 加
					a(class="tool_button_a" id="edit_subject") 編 集
					a(class="tool_button_a" id="del_subject") 削 除
				div(class="admin_div")
					table(id="subjects_list")
					div(id="subjects_pager")
				div(id="subject_dialog")
					p 被験者管理
			div(id="tabs-3")
				p 社員情報管理
			div(id="tabs-4")
				p 試験テンプレート管理
