// 請求情報入力画面
form#assessForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 分割請求日1
			td 
				input.datepicker#pay_planning_date_1(type="text" name="pay_planning_date_1")
			td.form_title 分割入金日1
			td 
				input.datepicker#pay_complete_date_1(type="text" name="pay_complete_date_1")
		tr
			td.form_title 分割支払合計金額1
			td 
				input.num_type#pay_amount_1(type="text" name="pay_amount_1")
			td.form_title 分割請求区分1
			td 
				select#pay_result_1(name="pay_result_1")
					option(value="0" selected="true") ?
					option(value="1") 予
					option(value="2") 完
	hr
	table
		tr
			td.form_title 分割請求日2
			td 
				input.datepicker#pay_planning_date_2(type="text" name="pay_planning_date_2")
			td.form_title 分割入金日2
			td 
				input.datepicker#pay_complete_date_2(type="text" name="pay_complete_date_2")
		tr
			td.form_title 分割支払合計金額2
			td 
				input.num_type#pay_amount_2(type="text" name="pay_amount_2")
			td.form_title 分割請求区分2
			td 
				select#pay_result_2(name="pay_result_2")
					option(value="0" selected="true") ?
					option(value="1") 予
					option(value="2") 完
	hr
	table
		tr
			td.form_title 分割請求日3
			td 
				input.datepicker#pay_planning_date_3(type="text" name="pay_planning_date_3")
			td.form_title 分割入金日3
			td 
				input.datepicker#pay_complete_date_3(type="text" name="pay_complete_date_3")
		tr
			td.form_title 分割支払合計金額3
			td 
				input.num_type#pay_amount_3(type="text" name="pay_amount_3")
			td.form_title 分割請求区分3
			td 
				select#pay_result_3(name="pay_result_3")
					option(value="0" selected="true") ?
					option(value="1") 予
					option(value="2") 完
	hr
	table
		tr
			td.form_title 分割請求日4
			td 
				input.datepicker#pay_planning_date_4(type="text" name="pay_planning_date_4")
			td.form_title 分割入金日4
			td 
				input.datepicker#pay_complete_date_4(type="text" name="pay_complete_date_4")
		tr
			td.form_title 分割支払合計金額4
			td 
				input.num_type#pay_amount_4(type="text" name="pay_amount_4")
			td.form_title 分割請求区分4
			td 
				select#pay_result_4(name="pay_result_4")
					option(value="0" selected="true") ?
					option(value="1") 予
					option(value="2") 完
	hr
	table
		tr
			td.form_title 分割請求日5
			td 
				input.datepicker#pay_planning_date_5(type="text" name="pay_planning_date_5")
			td.form_title 分割入金日5
			td 
				input.datepicker#pay_complete_date_5(type="text" name="pay_complete_date_5")
		tr
			td.form_title 分割支払合計金額5
			td 
				input.num_type#pay_amount_5(type="text" name="pay_amount_5")
			td.form_title 分割請求区分5
			td 
				select#pay_result_5(name="pay_result_5")
					option(value="0" selected="true") ?
					option(value="1") 予
					option(value="2") 完
	hr

