// 権限設定画面
extends layout

block head
	link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
	script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
	script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
	script(src="javascripts/Auth_settings.js")
	link(rel="stylesheet" ,href="stylesheets/schedule.css")

block content
		div.titlebar
			span.titlebar 
				a(href="portal") Home
			img.titlebar_logo(src="images/drc_logo.jpg")
			span.titlebar= title
			span.login_user(style='text-align:right')= "ログイン :  " + name + " さん、お疲れ様です。" 
		div#tabs
			ul
				li
					a(href="#tabs-0") 権限設定
			div#tabs-0
				div.toolbar
					a.tool_button_a#post_auth 更新
				form#authForm(method="post",action="javascript:return false;")
					table.auth_table(border="1")
						tr
							th(rowspan="2").auth_table_title_l メニュー
							th(rowspan="2").auth_table_title_l 機能
							th(colspan="2").auth_table_title_s admin
							th(colspan="2").auth_table_title_s 課長
							th(colspan="2").auth_table_title_s 営業
							th(colspan="2").auth_table_title_s 主任
							th(colspan="2").auth_table_title_s 一般社員
							th(colspan="2").auth_table_title_s 派遣・アルバイト
						tr
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
							th.auth_table_title_s 登録
							th.auth_table_title_s 閲覧・参照
						tr
							td(rowspan="6").auth_table_title_l 管理メニュー
							td(align="center").auth_table_title_l 顧客マスタ
							td(align="center")
								input.auth_check#f01_p01_w(type="checkbox" name="f01_p01_w" checked="true")
							td(align="center")
								input.auth_check#f01_p01_r(type="checkbox" name="f01_p01_r" checked="true")
							td(align="center")
								input.auth_check#f01_p02_w(type="checkbox" name="f01_p02_w" checked="true")
							td(align="center")
								input.auth_check#f01_p02_r(type="checkbox" name="f01_p02_r" checked="true")
							td(align="center")
								input.auth_check#f01_p03_w(type="checkbox" name="f01_p03_w" checked="true")
							td(align="center")
								input.auth_check#f01_p03_r(type="checkbox" name="f01_p03_r" checked="true")
							td(align="center")
								input.auth_check#f01_p04_w(type="checkbox" name="f01_p04_w" )
							td(align="center")
								input.auth_check#f01_p04_r(type="checkbox" name="f01_p04_r" checked="true")
							td(align="center")
								input.auth_check#f01_p05_w(type="checkbox" name="f01_p05_w" )
							td(align="center")
								input.auth_check#f01_p05_r(type="checkbox" name="f01_p05_r" checked="true")
							td(align="center")
								input.auth_check#f01_p06_w(type="checkbox" name="f01_p06_w" )
							td(align="center")
								input.auth_check#f01_p06_r(type="checkbox" name="f01_p06_r" )
						tr
							td(align="center").auth_table_title_l 事業部マスタ
							td(align="center")
								input.auth_check#f02_p01_w(type="checkbox" name="f02_p01_w" checked="true")
							td(align="center")
								input.auth_check#f02_p01_r(type="checkbox" name="f02_p01_r" checked="true")
							td(align="center")
								input.auth_check#f02_p02_w(type="checkbox" name="f02_p02_w" )
							td(align="center")
								input.auth_check#f02_p02_r(type="checkbox" name="f02_p02_r" checked="true")
							td(align="center")
								input.auth_check#f02_p03_w(type="checkbox" name="f02_p03_w" )
							td(align="center")
								input.auth_check#f02_p03_r(type="checkbox" name="f02_p03_r" )
							td(align="center")
								input.auth_check#f02_p04_w(type="checkbox" name="f02_p04_w" )
							td(align="center")
								input.auth_check#f02_p04_r(type="checkbox" name="f02_p04_r" )
							td(align="center")
								input.auth_check#f02_p05_w(type="checkbox" name="f02_p05_w" )
							td(align="center")
								input.auth_check#f02_p05_r(type="checkbox" name="f02_p05_r" )
							td(align="center")
								input.auth_check#f02_p06_w(type="checkbox" name="f02_p06_w" )
							td(align="center")
								input.auth_check#f02_p06_r(type="checkbox" name="f02_p06_r" )
						tr
							td(align="center").auth_table_title_l 社員マスタ
							td(align="center")
								input.auth_check#f03_p01_w(type="checkbox" name="f03_p01_w" checked="true")
							td(align="center")
								input.auth_check#f03_p01_r(type="checkbox" name="f03_p01_r" checked="true")
							td(align="center")
								input.auth_check#f03_p02_w(type="checkbox" name="f03_p02_w" )
							td(align="center")
								input.auth_check#f03_p02_r(type="checkbox" name="f03_p02_r" checked="true")
							td(align="center")
								input.auth_check#f03_p03_w(type="checkbox" name="f03_p03_w" )
							td(align="center")
								input.auth_check#f03_p03_r(type="checkbox" name="f03_p03_r" )
							td(align="center")
								input.auth_check#f03_p04_w(type="checkbox" name="f03_p04_w" )
							td(align="center")
								input.auth_check#f03_p04_r(type="checkbox" name="f03_p04_r" )
							td(align="center")
								input.auth_check#f03_p05_w(type="checkbox" name="f03_p05_w" )
							td(align="center")
								input.auth_check#f03_p05_r(type="checkbox" name="f03_p05_r" )
							td(align="center")
								input.auth_check#f03_p06_w(type="checkbox" name="f03_p06_w" )
							td(align="center")
								input.auth_check#f03_p06_r(type="checkbox" name="f03_p06_r" )
						tr
							td(align="center").auth_table_title_l 試験分類マスタ
							td(align="center")
								input.auth_check#f04_p01_w(type="checkbox" name="f04_p01_w" checked="true")
							td(align="center")
								input.auth_check#f04_p01_r(type="checkbox" name="f04_p01_r" checked="true")
							td(align="center")
								input.auth_check#f04_p02_w(type="checkbox" name="f04_p02_w" checked="true")
							td(align="center")
								input.auth_check#f04_p02_r(type="checkbox" name="f04_p02_r" checked="true")
							td(align="center")
								input.auth_check#f04_p03_w(type="checkbox" name="f04_p03_w" checked="true")
							td(align="center")
								input.auth_check#f04_p03_r(type="checkbox" name="f04_p03_r" checked="true")
							td(align="center")
								input.auth_check#f04_p04_w(type="checkbox" name="f04_p04_w" checked="true")
							td(align="center")
								input.auth_check#f04_p04_r(type="checkbox" name="f04_p04_r" checked="true")
							td(align="center")
								input.auth_check#f04_p05_w(type="checkbox" name="f04_p05_w" )
							td(align="center")
								input.auth_check#f04_p05_r(type="checkbox" name="f04_p05_r" checked="true")
							td(align="center")
								input.auth_check#f04_p06_w(type="checkbox" name="f04_p06_w" )
							td(align="center")
								input.auth_check#f04_p06_r(type="checkbox" name="f04_p06_r" )
						tr
							td(align="center").auth_table_title_l 試験テンプレートマスタ
							td(align="center")
								input.auth_check#f05_p01_w(type="checkbox" name="f05_p01_w" checked="true")
							td(align="center")
								input.auth_check#f05_p01_r(type="checkbox" name="f05_p01_r" checked="true")
							td(align="center")
								input.auth_check#f05_p02_w(type="checkbox" name="f05_p02_w" checked="true")
							td(align="center")
								input.auth_check#f05_p02_r(type="checkbox" name="f05_p02_r" checked="true")
							td(align="center")
								input.auth_check#f05_p03_w(type="checkbox" name="f05_p03_w" checked="true")
							td(align="center")
								input.auth_check#f05_p03_r(type="checkbox" name="f05_p03_r" checked="true")
							td(align="center")
								input.auth_check#f05_p04_w(type="checkbox" name="f05_p04_w" checked="true")
							td(align="center")
								input.auth_check#f05_p04_r(type="checkbox" name="f05_p04_r" checked="true")
							td(align="center")
								input.auth_check#f05_p05_w(type="checkbox" name="f05_p05_w" )
							td(align="center")
								input.auth_check#f05_p05_r(type="checkbox" name="f05_p05_r" checked="true")
							td(align="center")
								input.auth_check#f05_p06_w(type="checkbox" name="f05_p06_w" )
							td(align="center")
								input.auth_check#f05_p06_r(type="checkbox" name="f05_p06_r" )
						tr
							td(align="center").auth_table_title_l 動作設定
							td(align="center")
								input.auth_check#f06_p01_w(type="checkbox" name="f06_p01_w" checked="true")
							td(align="center")
								input.auth_check#f06_p01_r(type="checkbox" name="f06_p01_r" checked="true")
							td(align="center")
								input.auth_check#f06_p02_w(type="checkbox" name="f06_p02_w" )
							td(align="center")
								input.auth_check#f06_p02_r(type="checkbox" name="f06_p02_r" checked="true")
							td(align="center")
								input.auth_check#f06_p03_w(type="checkbox" name="f06_p03_w" )
							td(align="center")
								input.auth_check#f06_p03_r(type="checkbox" name="f06_p03_r" checked="true")
							td(align="center")
								input.auth_check#f06_p04_w(type="checkbox" name="f06_p04_w" )
							td(align="center")
								input.auth_check#f06_p04_r(type="checkbox" name="f06_p04_r" checked="true")
							td(align="center")
								input.auth_check#f06_p05_w(type="checkbox" name="f06_p05_w" )
							td(align="center")
								input.auth_check#f06_p05_r(type="checkbox" name="f06_p05_r" checked="true")
							td(align="center")
								input.auth_check#f06_p06_w(type="checkbox" name="f06_p06_w" )
							td(align="center")
								input.auth_check#f06_p06_r(type="checkbox" name="f01_p06_r" )
						tr
							td(rowspan="4").auth_table_title_l 案件リスト
							td(align="center").auth_table_title_l 案件追加
							td(align="center")
								input.auth_check#f07_p01_w(type="checkbox" name="f07_p01_w" checked="true")
							td(align="center")
								input.auth_check#f07_p01_r(type="checkbox" name="f07_p01_r" checked="true")
							td(align="center")
								input.auth_check#f07_p02_w(type="checkbox" name="f07_p02_w" checked="true")
							td(align="center")
								input.auth_check#f07_p02_r(type="checkbox" name="f07_p02_r" checked="true")
							td(align="center")
								input.auth_check#f07_p03_w(type="checkbox" name="f07_p03_w" checked="true")
							td(align="center")
								input.auth_check#f07_p03_r(type="checkbox" name="f07_p03_r" checked="true")
							td(align="center")
								input.auth_check#f07_p04_w(type="checkbox" name="f07_p04_w" checked="true")
							td(align="center")
								input.auth_check#f07_p04_r(type="checkbox" name="f07_p04_r" checked="true")
							td(align="center")
								input.auth_check#f07_p05_w(type="checkbox" name="f07_p05_w" )
							td(align="center")
								input.auth_check#f07_p05_r(type="checkbox" name="f07_p05_r" checked="true")
							td(align="center")
								input.auth_check#f07_p06_w(type="checkbox" name="f07_p06_w" )
							td(align="center")
								input.auth_check#f07_p06_r(type="checkbox" name="f07_p06_r" )
						tr
							td(align="center").auth_table_title_l 案件編集
							td(align="center")
								input.auth_check#f08_p01_w(type="checkbox" name="f08_p01_w" checked="true")
							td(align="center")
								input.auth_check#f08_p01_r(type="checkbox" name="f08_p01_r" checked="true")
							td(align="center")
								input.auth_check#f08_p02_w(type="checkbox" name="f08_p02_w" checked="true")
							td(align="center")
								input.auth_check#f08_p02_r(type="checkbox" name="f08_p02_r" checked="true")
							td(align="center")
								input.auth_check#f08_p03_w(type="checkbox" name="f08_p03_w" checked="true")
							td(align="center")
								input.auth_check#f08_p03_r(type="checkbox" name="f08_p03_r" checked="true")
							td(align="center")
								input.auth_check#f08_p04_w(type="checkbox" name="f08_p04_w" checked="true")
							td(align="center")
								input.auth_check#f08_p04_r(type="checkbox" name="f08_p04_r" checked="true")
							td(align="center")
								input.auth_check#f08_p05_w(type="checkbox" name="f08_p05_w" )
							td(align="center")
								input.auth_check#f08_p05_r(type="checkbox" name="f08_p05_r" checked="true")
							td(align="center")
								input.auth_check#f08_p06_w(type="checkbox" name="f08_p06_w" )
							td(align="center")
								input.auth_check#f08_p06_r(type="checkbox" name="f08_p06_r" )
						tr
							td(align="center").auth_table_title_l 見積追加
							td(align="center")
								input.auth_check#f09_p01_w(type="checkbox" name="f09_p01_w" checked="true")
							td(align="center")
								input.auth_check#f09_p01_r(type="checkbox" name="f09_p01_r" checked="true")
							td(align="center")
								input.auth_check#f09_p02_w(type="checkbox" name="f09_p02_w" checked="true")
							td(align="center")
								input.auth_check#f09_p02_r(type="checkbox" name="f09_p02_r" checked="true")
							td(align="center")
								input.auth_check#f09_p03_w(type="checkbox" name="f09_p03_w" checked="true")
							td(align="center")
								input.auth_check#f09_p03_r(type="checkbox" name="f09_p03_r" checked="true")
							td(align="center")
								input.auth_check#f09_p04_w(type="checkbox" name="f09_p04_w" checked="true")
							td(align="center")
								input.auth_check#f09_p04_r(type="checkbox" name="f09_p04_r" checked="true")
							td(align="center")
								input.auth_check#f09_p05_w(type="checkbox" name="f09_p05_w" )
							td(align="center")
								input.auth_check#f09_p05_r(type="checkbox" name="f09_p05_r" checked="true")
							td(align="center")
								input.auth_check#f09_p06_w(type="checkbox" name="f09_p06_w" )
							td(align="center")
								input.auth_check#f09_p06_r(type="checkbox" name="f09_p06_r" )
						tr
							td(align="center").auth_table_title_l 見積編集
							td(align="center")
								input.auth_check#f10_p01_w(type="checkbox" name="f10_p01_w" checked="true")
							td(align="center")
								input.auth_check#f10_p01_r(type="checkbox" name="f10_p01_r" checked="true")
							td(align="center")
								input.auth_check#f10_p02_w(type="checkbox" name="f10_p02_w" checked="true")
							td(align="center")
								input.auth_check#f10_p02_r(type="checkbox" name="f10_p02_r" checked="true")
							td(align="center")
								input.auth_check#f10_p03_w(type="checkbox" name="f10_p03_w" checked="true")
							td(align="center")
								input.auth_check#f10_p03_r(type="checkbox" name="f10_p03_r" checked="true")
							td(align="center")
								input.auth_check#f10_p04_w(type="checkbox" name="f10_p04_w" checked="true")
							td(align="center")
								input.auth_check#f10_p04_r(type="checkbox" name="f10_p04_r" checked="true")
							td(align="center")
								input.auth_check#f10_p05_w(type="checkbox" name="f10_p05_w" )
							td(align="center")
								input.auth_check#f10_p05_r(type="checkbox" name="f10_p05_r" checked="true")
							td(align="center")
								input.auth_check#f10_p06_w(type="checkbox" name="f10_p06_w" )
							td(align="center")
								input.auth_check#f10_p06_r(type="checkbox" name="f10_p06_r" )
						tr
							td(align="center").auth_table_title_l 案件スケジュール
							td(align="center").auth_table_title_l ガントチャート
							td(align="center")
								input.auth_check#f11_p01_w(type="checkbox" name="f11_p01_w" checked="true")
							td(align="center")
								input.auth_check#f11_p01_r(type="checkbox" name="f11_p01_r" checked="true")
							td(align="center")
								input.auth_check#f11_p02_w(type="checkbox" name="f11_p02_w" checked="true")
							td(align="center")
								input.auth_check#f11_p02_r(type="checkbox" name="f11_p02_r" checked="true")
							td(align="center")
								input.auth_check#f11_p03_w(type="checkbox" name="f11_p03_w" checked="true")
							td(align="center")
								input.auth_check#f11_p03_r(type="checkbox" name="f11_p03_r" checked="true")
							td(align="center")
								input.auth_check#f11_p04_w(type="checkbox" name="f11_p04_w" checked="true")
							td(align="center")
								input.auth_check#f11_p04_r(type="checkbox" name="f11_p04_r" checked="true")
							td(align="center")
								input.auth_check#f11_p05_w(type="checkbox" name="f11_p05_w" checked="true")
							td(align="center")
								input.auth_check#f11_p05_r(type="checkbox" name="f11_p05_r" checked="true")
							td(align="center")
								input.auth_check#f11_p06_w(type="checkbox" name="f11_p06_w" )
							td(align="center")
								input.auth_check#f11_p06_r(type="checkbox" name="f11_p06_r" checked="true")
						tr
							td(align="center").auth_table_title_l 試験スケジュール
							td(align="center").auth_table_title_l スケジュール
							td(align="center")
								input.auth_check#f12_p01_w(type="checkbox" name="f12_p01_w" checked="true")
							td(align="center")
								input.auth_check#f12_p01_r(type="checkbox" name="f12_p01_r" checked="true")
							td(align="center")
								input.auth_check#f12_p02_w(type="checkbox" name="f12_p02_w" checked="true")
							td(align="center")
								input.auth_check#f12_p02_r(type="checkbox" name="f12_p02_r" checked="true")
							td(align="center")
								input.auth_check#f12_p03_w(type="checkbox" name="f12_p03_w" checked="true")
							td(align="center")
								input.auth_check#f12_p03_r(type="checkbox" name="f12_p03_r" checked="true")
							td(align="center")
								input.auth_check#f12_p04_w(type="checkbox" name="f12_p04_w" checked="true")
							td(align="center")
								input.auth_check#f12_p04_r(type="checkbox" name="f12_p04_r" checked="true")
							td(align="center")
								input.auth_check#f12_p05_w(type="checkbox" name="f12_p05_w" checked="true")
							td(align="center")
								input.auth_check#f12_p05_r(type="checkbox" name="f12_p05_r" checked="true")
							td(align="center")
								input.auth_check#f12_p06_w(type="checkbox" name="f12_p06_w" )
							td(align="center")
								input.auth_check#f12_p06_r(type="checkbox" name="f12_p06_r" checked="true")
						tr
							td(align="center").auth_table_title_l 権限設定メニュー
							td(align="center").auth_table_title_l 権限設定
							td(align="center")
								input.auth_check#f13_p01_w(type="checkbox" name="f13_p01_w" checked="true")
							td(align="center")
								input.auth_check#f13_p01_r(type="checkbox" name="f13_p01_r" checked="true")
							td(align="center")
								input.auth_check#f13_p02_w(type="checkbox" name="f13_p02_w" )
							td(align="center")
								input.auth_check#f13_p02_r(type="checkbox" name="f13_p02_r" )
							td(align="center")
								input.auth_check#f13_p03_w(type="checkbox" name="f13_p03_w" )
							td(align="center")
								input.auth_check#f13_p03_r(type="checkbox" name="f13_p03_r" )
							td(align="center")
								input.auth_check#f13_p04_w(type="checkbox" name="f13_p04_w" )
							td(align="center")
								input.auth_check#f13_p04_r(type="checkbox" name="f13_p04_r" )
							td(align="center")
								input.auth_check#f13_p05_w(type="checkbox" name="f13_p05_w" )
							td(align="center")
								input.auth_check#f13_p05_r(type="checkbox" name="f13_p05_r" )
							td(align="center")
								input.auth_check#f13_p06_w(type="checkbox" name="f13_p06_w" )
							td(align="center")
								input.auth_check#f13_p06_r(type="checkbox" name="f13_p06_r" )
		div#message_dialog
			div
				span#message 
