//
// 請求書の内容編集画面
//
form#billingPrintEditForm(method="post",action="javascript:return false;")
	table.seikyusho_edit_table
		tr
			th.form_title_center 請求書番号
			td
				input#seikyusho_no_edit(type="text" name="seikyusho_no_edit" readonly=true)
			th.form_title_center 締切年月日
			td 
				input.datepicker#shimekiri_date(name="shimekiri_date" placeholder="締切日")
	table.seikyusho_edit_table
		tr
			th.form_title_center 今回請求額
			td
				input.num_type#seikyu_gaku(type="text" name="seikyu_gaku" )
			th.form_title_center 消費税額
			td
				input.num_type#zei_gaku(type="text" name="zei_gaku" )

	table.seikyusho_edit_table
		tr
			th.form_title_ss 品名
			th.form_title_ss 数量
			th.form_title_ss 単位
			th.form_title_ss 単価
			th.form_title_ss 金額
		tr
			td
				input#hinmei_1(type="text" name="hinmei_1")
			td
				input.num_type.billing_calc_price#kosuu_1(type="text" name="kosuu_1" size="12")
			td
				input#tani_1(type="text" name="tani_1" size="12")
			td
				input.num_type.billing_calc_price#tanka_1(type="text" name="tanka_1" size="12")
			td
				input.num_type#kingaku_1(type="text" name="kingaku_1" size="14")
		tr
			td
				input#hinmei_2(type="text" name="hinmei_2")
			td
				input.num_type.billing_calc_price#kosuu_2(type="text" name="kosuu_2" size="12")
			td
				input#tani_2(type="text" name="tani_2" size="12")
			td
				input.num_type.billing_calc_price#tanka_2(type="text" name="tanka_2" size="12")
			td
				input.num_type#kingaku_2(type="text" name="kingaku_2" size="14")
		tr
			td
				input#hinmei_3(type="text" name="hinmei_3")
			td
				input.num_type.billing_calc_price#kosuu_3(type="text" name="kosuu_3" size="12")
			td
				input#tani_3(type="text" name="tani_3" size="12")
			td
				input.num_type.billing_calc_price#tanka_3(type="text" name="tanka_3" size="12")
			td
				input.num_type#kingaku_3(type="text" name="kingaku_3" size="14")
		tr
			td
				input#hinmei_4(type="text" name="hinmei_4")
			td
				input.num_type.billing_calc_price#kosuu_4(type="text" name="kosuu_4" size="12")
			td
				input#tani_4(type="text" name="tani_4" size="12")
			td
				input.num_type.billing_calc_price#tanka_4(type="text" name="tanka_4" size="12")
			td
				input.num_type#kingaku_4(type="text" name="kingaku_4" size="14")
		tr
			td
				input#hinmei_5(type="text" name="hinmei_5")
			td
				input.num_type.billing_calc_price#kosuu_5(type="text" name="kosuu_5" size="12")
			td
				input#tani_5(type="text" name="tani_5" size="12")
			td
				input.num_type.billing_calc_price#tanka_5(type="text" name="tanka_5" size="12")
			td
				input.num_type#kingaku_5(type="text" name="kingaku_5" size="14")
