//
// 請求情報フォーム
//
form#billingInfoForm(method="post",action="javascript:return false;")
	div.toolbar
		a.tool_button_a#ref_entry 案件参照
	table
		tr
			td.form_title_s 案件番号
			td 
				input#billing_entry_no(type="text" name="billing_entry_no" value=no readonly="true" placeholder="案件番号" size="12")
			td.form_title_s 請求番号
			td 
				input#billing_number(type="text" name="billing_number" placeholder="請求番号"  maxlength="16")
				input#billing_no(type="hidden" name="billing_no" )
	table
		tr
			td.form_title_s 請求区分
			td.form_data
				label
					input#pay_result_0(type="radio" name="pay_result" value="0")
					| 請求待ち
				label
					input#pay_result_1(type="radio" name="pay_result" value="1")
					| 請求可
				label
					input#pay_result_2(type="radio" name="pay_result" value="2")
					| 請求済
				label
					input#pay_result_3(type="radio" name="pay_result" value="3")
					| 入金確認済
	table
		tr
			td.form_title_s
				label#seikyu_date 請求日
			td
				input.datepicker#pay_planning_date(name="pay_planning_date")
			td
				input#nyukin_yotei_button(type="button" name="nyukin_yotei_button" value="入金予定日計算")
			td.form_title_s
				label 入金予定日
			td
				input.datepicker#nyukin_yotei_date(name="nyukin_yotei_date")
				br
				label
					input#nyukin_yotei_p(type="checkbox" name="nyukin_yotei_p")
					| 仮予定日		
		tr
			td.form_title 金額(税抜)
			td 
				input.num_type#pay_amount(type="number" pattern="[0-9]{1,8}" name="pay_amount" size="8" title="")
			td
			td.form_title_s 入金日
			td 
				input.datepicker#pay_complete_date(name="pay_complete_date")
		tr
			td.form_title_m 消費税
			td 
				input.num_type#pay_amount_tax(type="number" pattern="[0-9]{1,8}" name="pay_amount_tax" size="8" title="")
			td
				input#calc_tax_button(type="button" name="calc_tax_button" value="計算")
			td.form_title_s 入金額
			td
				input.num_type#pay_complete(type="number" pattern="[0-9]{1,8}" name="pay_complete" size="8" title="")
		tr
			td.form_title 合計(税込)
			td 
				input.num_type#pay_amount_total(type="number" pattern="[0-9]{1,8}" name="pay_amount_total" readonly="true" size="8" title="")
			td
			td.form_title_s 振込手数料
			td
				input.num_type#furikomi_ryo(type="number" pattern="[0-9]{1,8}" name="furikomi_ryo" size="8" title="")
		tr
			td.form_title 請求残金額（税抜）
			td
				input.num_type#pay_amount_zan(type="text" name="pay_amount_zan" size="8" readonly="true" title="")
			td
			td.form_title_s 合計
			td
				input.num_type#nyukin_total(type="number" pattern="[0-9]{1,8}" name="nyukin_total" size="8" title="")
	hr
	table
		tr
			td 請求先
			td
				label
					input#billing_kind_1(type="radio" name="billing_kind" value="0" checked)
					| クライアント
			td.form_title_ss 社名
			td
				input#billing_client_cd(type="hidden" name="billing_client_cd")
				input#billing_client_name(type="text" name="billing_client_name" maxlength="64" size="48")
	table
		tr
			td.form_title_ss 部署
			td
				input#billing_client_division_cd(type="hidden" name="billing_client_division_cd")
				input#billing_client_division_name(type="text" name="billing_client_division_name" maxlength="64" size="48")
		tr
			td.form_title_ss 担当者
			td 
				input#billing_client_person_id(type="hidden" name="billing_client_person_id")
				input#billing_client_person_name(type="text" name="billing_client_person_name" maxlength="64" size="16")
		tr
			td.form_title_s 請求先情報
			td
				textarea#billing_client_info(name="billing_client_info" cols="80" rows="5" maxlength="512")
		tr
			td.form_title_s 備考
			td
				textarea#billing_memo(name="billing_memo" cols="80" rows="3" maxlength="512")
	hr
	table
		tr
			td 請求先
			td
				label
					input#billing_kind_2(type="radio" name="billing_kind" value="1")
					| 代理店
			td.form_title_ss 社名
			td
				input#billing_agent_cd(type="hidden" name="billing_agent_cd")
				input#billing_agent_name(type="text" name="billing_agent_name" maxlength="64" size="48")
	table
		tr
			td.form_title_ss 部署
			td
				input#billing_agent_division_cd(type="hidden" name="billing_agent_division_cd")
				input#billing_agent_division_name(type="text" name="billing_agent_division_name" maxlength="64" size="48")
		tr
			td.form_title_ss 担当者
			td 
				input#billing_agent_person_id(type="hidden" name="billing_agent_person_id")
				input#billing_agent_person_name(type="text" name="billing_agent_person_name" maxlength="64" size="16")
		tr
			td.form_title_s 請求先情報
			td
				textarea#billing_agent_info(name="billing_agent_info" cols="80" rows="5" maxlength="512")
		tr
			td.form_title_s 備考
			td
				textarea#billing_agent_memo(name="billing_agent_memo" cols="80" rows="3" maxlength="512")
	hr
	table
		tr
			td 請求先
			td
				label
					input#billing_kind_3(type="radio" name="billing_kind" value="2")
					| その他
			td.form_title_ss 社名
			td
				input#billing_etc_cd(type="hidden" name="billing_etc_cd")
				input#billing_etc_name(type="text" name="billing_etc_name" maxlength="64" size="48")
	table
		tr
			td.form_title_ss 部署
			td
				input#billing_etc_division_cd(type="hidden" name="billing_etc_division_cd")
				input#billing_etc_division_name(type="text" name="billing_etc_division_name" maxlength="64" size="48")
		tr
			td.form_title_ss 担当者
			td 
				input#billing_etc_person_id(type="hidden" name="billing_etc_person_id")
				input#billing_etc_person_name(type="text" name="billing_etc_person_name" maxlength="64" size="16")
		tr
			td.form_title_s 請求先情報
			td
				textarea#billing_etc_info(name="billing_etc_info" cols="80" rows="5" maxlength="512")
		tr
			td.form_title_s 備考
			td
				textarea#billing_etc_memo(name="billing_etc_memo" cols="80" rows="3" maxlength="512")
	hr
	table
		tr
			td.form_title 削除フラグ
			td.form_data
				label
					input#billing_delete_check(type="checkbox" name="billing_delete_check" value="0")
					| 削除
