//
	スケジュール画面
doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
		script(src="javascripts/holiday.min.js")
		script(src="javascripts/jquery.cookie.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/CalendarTable.js")
		script(src="javascripts/CalendarTableForPatchTest.js")
		script(src="javascripts/Calendar.js")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div.titlebar
			span.titlebar 
				a(href="portal") Home
			img.titlebar_logo(src="images/drc_logo.jpg")
			span.titlebar= title
			span.login_user(style='text-align:right')= "ログイン :  " + name + " さん、お疲れ様です。" 
		div.toolbar
			a.tool_button_a#prev_btn 前へ
			a.tool_button_a#today_btn 今日
			a.tool_button_a#next_btn 次へ
			label.select_date 日付選択
			input.datepicker.select_date#select_date
		div#tabs
			ul
				li
					a(href="#tabs-1") SPF・UVAPF測定試験
				li
					a(href="#tabs-2") 安全性試験
				li
					a(href="#tabs-3") 化粧品有用性試験
				li
					a(href="#tabs-4") 食品ヒト試験
				li
					a(href="#tabs-5") in vitro試験
				li
					a(href="#tabs-6") 外注
			div#tabs-1
				//p(style="font-size:small") 紫外線防止用化粧品のSPF測定、UVA防止効果測定
				div.calendar_div#calendar_div1
			div#tabs-2
				//p(style="font-size:small") (パッチテスト・RIPT)化粧品・医薬部外品の安全性試験
				div#tabs_patch
					ul
						li
							a(href="#tabs_patch-1") 大阪
						li
							a(href="#tabs_patch-2") 札幌
					div#tabs_patch-1
						div.calendar_div#calendar_div2_1
					div#tabs_patch-2
						div.calendar_div#calendar_div2_2
			div#tabs-3
				//p(style="font-size:small") 抗シワガイドライン対応試験や、化粧品などの使用試験
				div.calendar_div#calendar_div3
			div#tabs-4
				//p(style="font-size:small") 食品の有効性を評価するヒト試験
				div.calendar_div#calendar_div4
			div#tabs-5
				//p(style="font-size:small") in vitro試験
				div.calendar_div#calendar_div5
			div#tabs-6
				//p(style="font-size:small") 外注
				div.calendar_div#calendar_div6
		div#schedule_dialog
			include schedule_form
		div#entry_ref_dialog
			include entry_refer
		div.tooltip#popupMessage
			p#msg_str popup
