form#client_list_form
	div
		div#tabs-client
			ul
				li
					a(href="#tabs-1") 0-9
				li
					a(href="#tabs-2") A-Z
				li
					a(href="#tabs-3") ア
				li
					a(href="#tabs-4") カ
				li
					a(href="#tabs-5") サ
				li
					a(href="#tabs-6") タ
				li
					a(href="#tabs-7") ナ
				li
					a(href="#tabs-8") ハ
				li
					a(href="#tabs-9") マ
				li
					a(href="#tabs-10") ヤ
				li
					a(href="#tabs-11") ラ
				li
					a(href="#tabs-12") ワ
			div.client_grid#tabs-1
			div.client_grid#tabs-2
			div.client_grid#tabs-3
			div.client_grid#tabs-4
			div.client_grid#tabs-5
			div.client_grid#tabs-6
			div.client_grid#tabs-7
			div.client_grid#tabs-8
			div.client_grid#tabs-9
			div.client_grid#tabs-10
			div.client_grid#tabs-11
			div.client_grid#tabs-12
