doctype html
html(ng-app="app" lang="ja")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/jquery.cookie.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/ClientList.js")
		script(src="javascripts/ClientMaster.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body(ng-app)
		div#drc_app
			div.titlebar
				span.titlebar
					a(href="portal") Home
				img.titlebar_logo(src="images/drc_logo.jpg")
				span.titlebar= title
			div#tabs
				ul
					li
						a#main_tab(href="#tabs-0") #{func_name}
				div#tabs-0
					div.admin_div
						include client_list_form
			div#client_dialog
				include client_form
			div#client_division_dialog
				include client_division_form
			div#client_person_dialog
				include client_person_form
			div#sight_info_dialog
				include sight_info_form
		div#message_dialog
			div
				span#message
