doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		title= title
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="javascripts/jquery.cookie.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/clientListPrint.js")
		link(rel="stylesheet" ,href="stylesheets/page_setting_landscape.css")
		link(rel="stylesheet" ,href="stylesheets/printout.css",media="screen,print")
	body
		input#list_no(type="hidden" value = no)
		section.data_section
			table
				tr
					td#title 顧客マスタ
					td 印刷日
					td#print_date
			table.data_table#client_list_table(cellspacing="0")
				tr
					th.data_title.border_up_left(style="width:20mm") 得意先コード
					th.data_title.border_up_left(style="width:40mm") 得意先名１
					th.data_title.border_up_left(style="width:40mm") 得意先名２
					th.data_title.border_up_left(style="width:40mm") カナ
					th.data_title.border_up_left(style="width:20mm") 郵便番号
					th.data_title.border_up_left(style="width:40mm") 住所１
					th.data_title.border_up_left(style="width:40mm") 住所２
					th.data_title.border_up_left(style="width:20mm") 電話番号
					th.data_title.border_up_left(style="width:20mm") ＦＡＸ番号
					th.data_title.border_up_left(style="width:20mm") メールアドレス
					th.data_title.border_up_left(style="width:20mm") メモ
					th.data_title.border_up_left_right(style="width:20mm") 作成日
					
