//
// クライアント担当者情報フォーム
//
form#clientPersonForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title #{target_name}名
			td
				input#person_client_cd(type="hidden" name="person_client_cd" readonly=true)
				input#person_client_name(type="text" name="person_client_name" readonly=true)
			td.form_title 所属部署
			td
				input#person_division_hidden(type="hidden")
				select#person_division_cd(name="person_division_cd")
		tr
			td.form_title 担当者名
			td
				input#person_id(type="hidden" name="person_id" maxlength="32" placeholder="担当者ID" required="true")
				input#person_name(type="text" name="person_name" maxlength="128" placeholder="担当者名" required="true")
			td.form_title カナ
			td
				input#person_kana(type="text" name="person_kana" maxlength="512" placeholder="カナ" required="true")
		tr
			td.form_title 敬称
			td
				input#compellation(type="text" name="compellation" maxlength="8" placeholder="敬称")
		tr
			td.form_title メールアドレス
			td(colspan="3")
				input#person_email(type="email" name="person_email" maxlength="128" placeholder="メールアドレス")
	hr
	table
		tr
			td.form_title 役職名
			td
				input#title(type="text" name="title" maxlength="8" placeholder="役職名")
		tr
			td.form_title メモ
			td
				textarea#person_memo(name="person_memo" placeholder="メモ" maxlength="64" cols="12" rows="2")
	hr
	table
		tr
			td.form_title 削除フラグ
			td(colspan="3")
				label
					input#person_delete_check(type="checkbox" name="person_delete_check" value="1")
					| 削除
