//
// クライアント情報フォーム
//
form#clientForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 得意先コード(半角英数カナ)
			td(colspan="3") 
				input#client_cd(type="text" name="client_cd" placeholder="得意先コード(半角英数カナ)")
		tr
			td.form_title 得意先名１
			td 
				input#name_1(type="text" name="name_1" placeholder="得意先名１")
			td.form_title 得意先名２
			td 
				input#name_2(type="text" name="name_2" placeholder="得意先名２")
		tr
			td.form_title カナ
			td 
				input#kana(type="text" name="kana" placeholder="カナ")
		tr
			td.form_title 郵便番号
			td 
				input#zipcode(type="text" name="zipcode" placeholder="郵便番号")
			td.form_title メールアドレス
			td 
				input#email(type="text" name="email" placeholder="メールアドレス")
		tr
			td.form_title 住所１
			td 
				input#address_1(type="text" name="address_1" placeholder="住所１")
			td.form_title 住所２
			td 
				input#address_2(type="text" name="address_2" placeholder="住所２")
		tr
			td.form_title 電話番号
			td 
				input#tel_no(type="text" name="tel_no" placeholder="電話番号")
			td.form_title FAX番号
			td 
				input#fax_no(type="text" name="fax_no" placeholder="FAX番号")
	hr
	table
		tr
			td.form_title 削除フラグ
			td(colspan="3")
				input#delete_check(type="checkbox" name="delete_check" value="1")
				label 削除
