form#client_list_form
	div		
		div#tabs-client
			ul
				li
					a(href="#tabs-1") 0-9
				li
					a(href="#tabs-2") A-Z
				li
					a(href="#tabs-3") ア
				li
					a(href="#tabs-4") カ
				li
					a(href="#tabs-5") サ
				li
					a(href="#tabs-6") タ
				li
					a(href="#tabs-7") ナ
				li
					a(href="#tabs-8") ハ
				li
					a(href="#tabs-9") マ
				li
					a(href="#tabs-10") ヤ
				li
					a(href="#tabs-11") ラ
				li
					a(href="#tabs-12") ワ
			div#tabs-1
				table.client_list#client_list_1
				div#client_list_pager_1
			div#tabs-2
				table.client_list#client_list_2
				div#client_list_pager_2
			div#tabs-3
				table.client_list#client_list_3
				div#client_list_pager_3
			div#tabs-4
				table.client_list#client_list_4
				div#client_list_pager_4
			div#tabs-5
				table.client_list#client_list_5
				div#client_list_pager_5
			div#tabs-6
				table.client_list#client_list_6
				div#client_list_pager_6
			div#tabs-7
				table.client_list#client_list_7
				div#client_list_pager_7
			div#tabs-8
				table.client_list#client_list_8
				div#client_list_pager_8
			div#tabs-9
				table.client_list#client_list_9
				div#client_list_pager_9
			div#tabs-10
				table.client_list#client_list_10
				div#client_list_pager_10
			div#tabs-11
				table.client_list#client_list_11
				div#client_list_pager_11
			div#tabs-12
				table.client_list#client_list_12
				div#client_list_pager_12
