// 案件情報参照ダイアログ
form#entryReferenceForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 案件リスト
			td
				select#entry_list(name="entry_list" size="5")
			td.form_title 試験明細リスト
			td
				select#quote_list(name="quote_list" size="5")

		tr
			td.form_title 案件番号
			td 
				input#ref_entry_no(type="text" name="ref_entry_no" readonly="true" placeholder="案件番号" size="20")
			td.form_title 試験明細番号
			td 
				input#ref_quote_no(type="hidden" name="ref_quote_no")
				input#ref_quote_detail_no(type="text" name="ref_quote_detail_no" placeholder="試験明細番号" size="20")
		tr
			td.form_title 案件名
			td 
				input#ref_entry_title(type="text" name="ref_entry_title" readonly="true" placeholder="案件名" size="20")
			td.form_title 試験項目名
			td 
				input#ref_test_item(type="text" name="ref_test_item" readonly="true" placeholder="試験項目名" size="20")
