doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/EntryList.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div.titlebar
			span.titlebar 
				a(href="portal") Home
			img.titlebar_logo(src="images/drc_logo.jpg")
			span.titlebar= title
		div#tabs
			ul
				li
					a(href="#tabs-0") 案件リスト
			div#tabs-0
				div.toolbar
					a.tool_button_a#add_entry 追 加
					a.tool_button_a#edit_entry 編 集
				div.admin_div
					table#entry_list
					div#entry_pager
				p
				div.toolbar
					a.tool_button_a#add_quote 追 加
					a.tool_button_a#edit_quote 編 集
				div.admin_div
					table#test_list
					div#test_list_pager
				div#entry_dialog 
					include entry_form
				div#quote_dialog 
					include entry_quote_dialog
