doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/filesaver.min.js")
		script(src="javascripts/fabric.min.js")
		script(src="javascripts/jquery.cookie.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/BillingList.js")
		script(src="javascripts/ClientList.js")
		script(src="javascripts/TestItemList.js")
		script(src="javascripts/Quote.js")
		script(src="javascripts/EntryList.js")
		script(src="javascripts/nyukinYotei.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div.titlebar
			span.titlebar
				a(href="portal") Home
			img.titlebar_logo(src="images/drc_logo.jpg")
			span.titlebar= title
			span.login_user(style='text-align:right')= "ログイン :  " + name + " さん、お疲れ様です。"
		div#tabs
			ul
				li
					a(href="#tabs-0") 案件リスト
			div#tabs-0
				div.toolbar
					a.tool_button_a#add_entry 追 加
					a.tool_button_a#edit_entry 編 集
					a.tool_button_a#entry_billing 請求情報
					fieldset.search_option_set
						label.search_option_check#entry_delete_disp(value=1)
							input.search_option_check#entry_delete_check_disp(type="checkbox")
							| 削除分を表示
					fieldset.search_option_set
						label.search_option_check#entry_status_01_label(value=1)
							input.search_option_check#entry_status_01(type="checkbox")
							| 引合
						label.search_option_check#entry_status_02_label(value=1)
							input.search_option_check#entry_status_02(type="checkbox")
							| 見積
						label.search_option_check#entry_status_03_label(value=1)
							input.search_option_check#entry_status_03(type="checkbox")
							| 依頼
						label.search_option_check#entry_status_04_label(value=1)
							input.search_option_check#entry_status_04(type="checkbox")
							| 完了
						label.search_option_check#entry_status_05_label(value=1)
							input.search_option_check#entry_status_05(type="checkbox")
							| 失注
				div.toolbar
					fieldset.search_option_set#largeItem_check
					fieldset.search_option_set
						label
							input#search_option_shikenjo_all(type="radio" name="search_option_shikenjo" checked=true value="1")
							| 全試験場&nbsp;
						label
							input#search_option_shikenjo_osaka(type="radio" name="search_option_shikenjo" value="2")
							| 大阪&nbsp;
						label
							input#search_option_shikenjo_sapporo(type="radio" name="search_option_shikenjo" value="3")
							| 札幌&nbsp;&nbsp;&nbsp;&nbsp;
						label
							input#search_option_shikenjo_tokyo(type="radio" name="search_option_shikenjo" value="4")
							| 東京&nbsp;&nbsp;&nbsp;&nbsp;
				div.toolbar
					fieldset.entry_search_set
						input.entry_search_keyword#entry_search_keyword(type="text" placeholder="キーワード")
						input.datepicker.entry_search_start_date#search_start_date(type="text" placeholder="期間開始")
						label &nbsp;～&nbsp;
						input.datepicker.entry_search_end_date#search_end_date(type="text" placeholder="期間終了")
					a.tool_button_a#entry_search 検索
					a.tool_button_a#entry_search_clear クリア
					a.tool_button_a#entry_list_print 印刷
					a.tool_button_a#entry_list_csv CSV出力
					a.tool_button_a#entry_list_mikaishu 未回収リスト
					a.tool_button_a(style="width:180px;")#entry_list_mikaishu_csv 未回収リストCSV出力
				div.admin_div
					table#entry_list
					div.grid_pager#entry_pager
				div.admin_div
					p 案件備考
					textarea#entry_memo_ref(rows="3" cols="80" readonly="true")
				div.toolbar
					a.tool_button_a#add_quote 追 加
					a.tool_button_a#edit_quote 編 集
					label.search_option_check#quote_delete_disp(value=1)
						input.search_option_check#quote_delete_check_disp(type="checkbox")
						| 削除分を表示
				div.admin_div
					table#quote_list
					div#quote_list_pager
				div.toolbar
					label.search_option_check#quote_specific_delete_disp(value=1)
						input.search_option_check#quote_specific_delete_check_disp(type="checkbox")
						| 削除分を表示
				div.admin_div
					table#quote_specific_list
					div#quote_specific_list_pager
				div#entry_dialog
					include entry_form
				div#quoteForm_dialog
					include quote_form
				div#client_list_dialog
					include client_list_form
				div#client_dialog
					include client_form
				div#client_division_dialog
					include client_division_form
				div#client_person_dialog
					include client_person_form
				div#billing_list_dialog
					div.toolbar
						a.tool_button_a#add_billing 追 加
						a.tool_button_a#edit_billing 編 集
						fieldset.search_option_set
							label.search_option_check#billig_delete_disp(value=1)
								input.search_option_check#billing_delete_check_disp(type="checkbox")
								| 削除分を表示
					div.admin_div
						table#billing_info_list
						div#billing_info_list_pager
				div#billing_form_dialog
					include billing_info_form
				div#test_item_list_dialog
					div.admin_div
						table#test_item_list_large
						div#test_item_list_large_pager
						p
						table#test_item_list_middle
						div#test_item_list_middle_pager
				div#message_dialog
					div
						span#message
				canvas#canvas
				span#print_image
