extends layout

block head
	link(rel="stylesheet" ,href="stylesheets/schedule.css")
	link(rel="shortcut icon",href="favicon.ico")
block content
	div.titlebar
		img.titlebar_logo(src="images/drc_logo.jpg")
		span.titlebar= title
	div(style="padding-top:50px")
		label.text= message