form#passwordForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 社員ID
			td 
				input#uid(type="text" name="uid" readonly="true" placeholder="社員ID" value= userid)
			td.form_title 名前
			td 
				input#name(type="text" name="name" readonly="true" placeholder="名前" value= name)
		tr
			td.form_title パスワード
			td 
				input#password(type="password" name="password" required="required" maxlength="32" pattern="^[0-9A-Za-z]+$" placeholder="パスワード")
			td.form_title パスワード確認用
			td 
				input#password_confirm(type="password" name="password_confirm" required="required" maxlength="32" pattern="^[0-9A-Za-z]+$" placeholder="パスワード確認用")
