extends layout

block head
	link(rel="stylesheet" ,href="stylesheets/schedule.css")

block content
	div.titlebar
		img.titlebar_logo(src="images/drc_logo.jpg")
		span.titlebar= title
	div.main_menu
		div.main_menu_row 
			div.menu_title お知らせ
			p このページは現在作成テスト中です。
		div.main_menu_row
			div.menu_title 営業管理
			a.menu_button_c(href="entry_list") 案件リスト
		div.main_menu_row_b
			div.menu_title スケジュール
			a.menu_button_a(href="schedule#tabs-1") 安全性試験
			a.menu_button_a(href="schedule#tabs-2") SPF・UVAPF測定試験
			a.menu_button_a(href="schedule#tabs-3") 化粧品有用性試験
			a.menu_button_a(href="schedule#tabs-4") 食品ヒト試験
		div.main_menu_row
			div.menu_title 管理メニュー
			a.menu_button_b(href="admin#tabs-1") 顧客管理
			a.menu_button_b(href="admin#tabs-2") 社員情報
			a.menu_button_b(href="admin#tabs-3") 試験テンプレート管理
