extends layout

block head
	link(rel="stylesheet" ,href="stylesheets/schedule.css")

block content
	div(class="titlebar")
		img(class="titlebar_logo" src="images/drc_logo.jpg")
		span(class="titlebar")= title
	div(class="main_menu")
		div(class="main_menu_row") 
			div(class="menu_title") お知らせ
			p このページは現在作成テスト中です。
		div(class="main_menu_row_b")
			div(class="menu_title") スケジュール
			a(class="menu_button_a" href="schedule#tabs-1") 安全性試験
			a(class="menu_button_a" href="schedule#tabs-2") SPF・UVAPF測定試験
			a(class="menu_button_a" href="schedule#tabs-3") 化粧品有用性試験
			a(class="menu_button_a" href="schedule#tabs-4") 食品ヒト試験
		div(class="main_menu_row")
			div(class="menu_title") 管理メニュー
			a(class="menu_button_b" href="admin#tabs-1") 顧客管理
			a(class="menu_button_b" href="admin#tabs-2") 被験者管理
			a(class="menu_button_b" href="admin#tabs-3") 社員情報
			a(class="menu_button_b" href="admin#tabs-4") 試験テンプレート
