extends layout

block head
	link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
	script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
	script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
	script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
	script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
	script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
	script(src="javascripts/jquery.cookie.js")
	script(src="javascripts/ScheduleCommon.js")
	script(src="javascripts/Portal.js")
	link(rel="stylesheet" ,href="stylesheets/schedule.css")

block content
	div.titlebar
		img.titlebar_logo(src="images/drc_logo.jpg")
		span.titlebar= title
		span.login_user(style='text-align:right')= "名前：" + name + "さん"
			span [
			a(href="/logout") ログアウト
			span ]
		a.titlebar_button#edit_password パスワード変更
	div.main_menu
		div.main_menu_row_c#entry_menu
			div.menu_title(style="background-color:MediumSeaGreen") 営業管理
			a.menu_button_b(href="entry_list") 案件リスト
			a.menu_button_b(href="uriage_list") 売上集計
			a.menu_button_b(href="pay_planning") 入金予測
			a.menu_button_b(href="billing_summary_list") 請求情報集計
		div.main_menu_row_b
			div.menu_title(style="background-color:darkorange") 案件スケジュール（ガントチャート）
			a.menu_button_a(href="schedule#tabs-1") SPF・UVAPF測定試験
			a.menu_button_a(href="schedule#tabs-2") 安全性試験
			a.menu_button_a(href="schedule#tabs-3") 化粧品有用性試験
			a.menu_button_a(href="schedule#tabs-4") 食品ヒト試験
			a.menu_button_a(href="schedule#tabs-5") in vitro試験
			a.menu_button_a(href="schedule#tabs-6") 外注
		div.main_menu_row_b
			div.menu_title(style="background-color:CornflowerBlue") 試験スケジュール
			a.menu_button_a(href="calendar#tabs-1") SPF・UVAPF測定試験
			a.menu_button_a(href="calendar#tabs-2") 安全性試験
			a.menu_button_a(href="calendar#tabs-3") 化粧品有用性試験
			a.menu_button_a(href="calendar#tabs-4") 食品ヒト試験
			a.menu_button_a(href="calendar#tabs-5") in vitro試験
			a.menu_button_a(href="calendar#tabs-6") 外注
		div.main_menu_row_c#admin_menu
			div.menu_title 管理メニュー
			a.menu_button_a#admin_client_menu(href="client_list") 顧客管理
			a.menu_button_a#admin_shiharaibi_menu(href="sight_master_list") 支払日マスタ
			a.menu_button_a#admin_shiharaibi_menu(href="holiday_master_list") 休日マスタ
			a.menu_button_a#admin_itakusaki_menu(href="itakusaki_list") 委託先管理
			a.menu_button_a#admin_division_menu(href="division_list") 事業部マスタ
			a.menu_button_a#admin_user_menu(href="user_list") 社員マスタ
			a.menu_button_a#admin_testitem_menu(href="test_item_list") 試験分類マスタ
			a.menu_button_a#admin_template_menu(href="template") 試験テンプレート管理
			a.menu_button_a#admin_notify_menu(href="notify_settings") メール通知設定
			a.menu_button_a#admin_config_menu(href="configuration") 動作設定
		div.main_menu_row_b#auth_menu
			div.menu_title 権限設定
			a.menu_button_a#auth_settings_menu(href="auth_settings") 権限設定
		div.main_menu_row(style="height:460px;")
			div.menu_title(style="background-color:peru;") お知らせ
			span(style="margin:2px;overflow: scroll;display: block;" )
				p ・2018/11/21 案件リスト検索条件のクリア不具合修正
				p ・2018/11/20 案件ステータス変更フローの変更
				p ・2018/11/19 案件情報の画面に、「試験開始日」を追加。報告書提出期限の自動計算の起点を「受注日」から「試験開始日」に変更する。
				p ・2018/11/16 試験場での絞り込み対応（案件一覧、売上集計画面）
				p ・2018/11/15 「試験課別」「顧客別」も、請求金額（税別）、税額、合計を表示。（売上集計、入金予測）
				p ・2018/11/14 顧客リストに支払いサイト情報を追加しました。
				p ・2018/11/13 見積画面の金額のカンマ区切り対応。
				p ・2018/11/13 見積入力時の試験中分類のデフォルト表示を追加しました。
				p ・2018/11/12 請求情報集計画面の機能追加作業が終わりました。
				//p ・2018/08/19 請求情報集計画面を追加しました。これは仮リリースで検索機能などは動作しません。画面確認用です。
				//p ・2018/07/29 案件情報入力に「試験場」が追加されました。（大阪、札幌、東京から選択）
				//p ・2018/07/21 案件リストと顧客管理の操作性を改善しました。（追加、更新時にリストが再ロードされないようにしました）
				//p ・2018/07/21 案件入力、請求情報入力画面を改善しました。（社名、部署名のフィールドの幅を拡げました）
	div
		div#password_dialog
			include password_form
		div#message_dialog
			div
				span#message
