form#quoteTemplateSaveForm(method="post",action="javascript:return false;")
	table.dlg_table
		tr
			td 見積テンプレート名
			td
				input#template_id(type="text" name="template_id" placeholder="見積テンプレート名")
	div#message_dialog
		div
			span#message 
