form#quoteTemplateSaveForm(method="post",action="javascript:return false;")
	table.dlg_table
		tr
			td 見積テンプレート名
			td
				input#template_id(type="text" name="template_id" placeholder="見積テンプレート名")
		tr
			td(colspan=2)
				input#check_all(type="checkbox" name="check_all")
				| "まとめて保存する"
	div#message_dialog
		div
			span#message 
