//
// 見積書フォーム
//
form#estimateForm(method="post",action="javascript:return false;")
	div.estimate_top
		span#estimate_title 御 見 積 書
	div.estimate_billing_left
		table
			tr
				td
					input#billing_company_name_1(type="text" name="billing_company_name_1" size="40" placeholder="請求先会社名1")
			tr
				td
					input#billing_company_name_2(type="text" name="billing_company_name_2" size="40" placeholder="請求先会社名2")
			tr
				td
					input#billing_division(type="text" name="billing_division" size="40" placeholder="請求先部署名")
			tr
				td
					input#billing_person(type="text" name="billing_person" size="40" placeholder="請求先担当者名")
			tr
				td
					span#estimate_title2 下記の通りお見積申し上げます。
			tr
				td
					label 件名：
					input#quote_title(type="text" name="quote_title" size="35" placeholder="件名")
			tr
				td
					label 有効期限：
					input#expire_date(type="text" name="expire_date" size="30" )
	div.estimate_billing_right
		table
			tr
				td
					label 見積日
					input.datepicker#quote_date(type="text" name="quote_date" placeholder="日付選択")
			tr
				td
					label No.
					input#estimate_quote_no(type="text" name="estimate_quote_no" readonly=true placeholder="見積番号")
			tr
				td
					label#drc_name
			tr
				td
					label#drc_address1
			tr
				td
					label#drc_address2
			tr
				td
					label#drc_tel_fax
			tr
				td
					label#drc_division_name 試験課
			tr
				td
					label#drc_test_person 担当者：
	div.estimate_mid
		table
			tr
				td
			tr
				td
					div.quote_total
						label#quote_total_title 御見積合計金額　
						input#quote_total_price(type="text" class="num_type" name="quote_total_price" size="19" placeholder="見積合計金額")
	div.estimate_meisai
		table.estimate_meisai_table#meisai_table
			tbody
		table
			tr
				td.form_title 合計
				td
					input.num_type#sum(type'text' name='sum' readonly='true')
			tr
				td.form_title 消費税
				td
					input.num_type#consumption(type'text' name='consumption' readonly='true')
		hr
		table.quoto_info_table
			tr
				td.form_title 見積書PDF発行状況
				td
					label
						input#quote_submit_check_no(type="radio" name="quote_submit_check" value="1" checked="true")
						| 未発行（情報登録のみ）
					label
						input#quote_submit_check_yes(type="radio" name="quote_submit_check" value="2")
						| 発行済
			tr
				td.form_title 受注ステータス
				td
					label#order_status_1
						input#order_status_no(type="radio" name="order_status" value="1" checked="true")
						| 商談中
					label#order_status_2
						input#order_status_yes(type="radio" name="order_status" value="2")
						| 受注確定
			tr
				td.form_title 被験者数
				td
					input.num_type#estimate_monitors_num(type="number" name="estimate_monitors_num" min="0" max="1000" size="5" pattern="[0-9]{1,3}")
		table
			tr
				td.form_title 備考
				td
					select#quote_form_memo(name="quote_form_memo")
		hr
		table
			tr
				td.form_title_s 削除フラグ
				td
					label
						input#estimate_delete_check(type="checkbox" name="estimate_delete_check" value="1")
						| 削除
