doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/jquery.cookie.js")
		script(src="javascripts/ScheduleCommon.js")
		script(src="javascripts/QuoteTemplateList.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div.titlebar
			span.titlebar 
				a(href="portal") Home
			img.titlebar_logo(src="images/drc_logo.jpg")
			span.titlebar= title
		div#tabs
			ul
				li
					a(href="#tabs-0") 見積テンプレートリスト
			div#tabs-0
				div.admin_div
					table#test_item_list_large
					div#test_item_list_large_pager
				p
			div#tabs-0
				div.toolbar
					a.tool_button_a#edit_quote_template_name 編 集
					label.search_option_check(value=1)
						input.search_option_check#quote_template_delete_check_disp(type="checkbox") 
						| 削除分を表示
				div.admin_div
					table#quote_template_list
					div#quote_template_list_pager
			div#tabs-1
				div.toolbar
					a.tool_button_a#edit_quote_template 編 集
					label.search_option_check(value=1)
						input.search_option_check#quote_template_delete_check_disp(type="checkbox") 
						| 削除分を表示
				div.admin_div
					table#quote_template_meisai
					div#quote_template_meisai_pager
				div#quote_template_name_dialog 
					include quote_template_name_form
				div#quote_template_dialog 
					include quote_template_list_form
		div#message_dialog
			div
				span#message 
