doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jquery.jqGrid-4.6.0/js/i18n/grid.locale-ja.js")
		script(src="jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js")
		script(src="javascripts/SalesManagement.js")
		link(rel="stylesheet" ,href="jquery.jqGrid-4.6.0/css/ui.jqgrid.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
	body
		div(class="titlebar")
			span(class="titlebar") 
				a(href="portal") Home
			img(class="titlebar_logo" src="images/drc_logo.jpg")
			span(class="titlebar")= title
		div(class="toolbar")
			a(class="tool_button_a" id="add_sales") 追 加
			a(class="tool_button_a" id="edit_sales") 編 集
			a(class="tool_button_a" id="del_sales") 削 除
		div(class="admin_div")
			table(id="sales_list")
			div(id="sales_pager")
		div(id="sales_dialog")
			div
				table
					tr
						td 案件No
						td
							input(type='text' id='dlg_sales_no')
					tr
						td 名称
						td
							input(type='text' id='dlg_name')
					tr
						td 得意先コード
						td
							input(type='text' id='dlg_customer_code')
					tr
						td 受付日
						td
							input(type='text' class="datepicker" id='dlg_regist_date')
					tr
						td 入金予定日
						td
							input(type='text' class="datepicker" id='dlg_money_receive_date')
					tr
						td 入金日
						td
							input(type='text' class="datepicker" id='dlg_money_received_date')
					tr
						td 営業担当者名
						td
							select(id="dlg_sales_user_id")
								option(value="1") 山田　太郎
								option(value="2") 鈴木　一郎

