doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jQuery.Gantt-master/js/jquery.fn.gantt.js")
		script(src="javascripts/ScheduleTable.js")
		script(src="javascripts/GanttTable.js")
		link(rel="stylesheet" ,href="jQuery.Gantt-master/css/style.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
		script(type='text/javascript').
			$(function() {
				$( "#tabs" ).tabs();
				var schedule = {
					from: '2014/05/07',
					to:   '2014/05/13',
					name: '被験者名',
					desc: '検体No.',
					data :[
					{
						name: "被験者A",
						desc: "検体No.1",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/09',
							label: "試験001",
							color: "green",
							},
							{
							from: '2014/05/12',
							to: '2014/05/13',
							label: "試験002",
							color: "cyan",
							}
						]
					},
					{
						name: "",
						desc: "検体No.2",
						values: [
							{
							from: '2014/05/12',
							to: '2014/05/14',
							label: "試験002",
							color: "green",
							}
						]
					},
					{
						name: "",
						desc: "検体No.3",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/09',
							label: "試験002",
							color: "green",
							}
						]
					},
					{
						name: "",
						desc: "検体No.4",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/13',
							label: "試験010",
							color: "red",
							}
						]
					},
					{
						name: "被験者B",
						desc: "検体No.1",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/09',
							label: "試験001",
							color: "green",
							},
							{
							from: '2014/05/12',
							to: '2014/05/13',
							label: "試験002",
							color: "cyan",
							}
						]
					},
					{
						name: "",
						desc: "検体No.2",
						values: [
							{
							from: '2014/05/12',
							to: '2014/05/14',
							label: "試験002",
							color: "green",
							}
						]
					},
					{
						name: "",
						desc: "検体No.3",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/09',
							label: "試験002",
							color: "green",
							}
						]
					},
					{
						name: "",
						desc: "検体No.4",
						values: [
							{
							from: '2014/05/07',
							to: '2014/05/13',
							label: "試験010",
							color: "red",
							}
						]
					}
					]
				};
					
				$('#schedule_detail').dialog({
					autoOpen: false,
					title: 'スケジュールの詳細',
					closeOnEscape: false,
					modal: true,
						buttons: {
							"OK": function(){
								$(this).dialog('close');
							}
						}
				});
				GanttTable.Init("ganttTable_div1",schedule);
				GanttTable.Init("ganttTable_div2",schedule);
				GanttTable.Init("ganttTable_div3",schedule);
				GanttTable.Init("ganttTable_div4",schedule);
				
			});
	body
		div(class="titlebar")
			img(class="titlebar_logo" src="images/drc_logo.jpg")
			span= title
		div(id="tabs")
			ul
				li
					a(href="#tabs-1") 安全性試験
				li
					a(href="#tabs-2") SPF・UVAPF測定試験
				li
					a(href="#tabs-3") 化粧品有用性試験
				li
					a(href="#tabs-4") 食品ヒト試験
			div(id="tabs-1")
				p (パッチテスト・RIPT)化粧品・医薬部外品の安全性試験
				div(id="ganttTable_div1")
			div(id="tabs-2")
				p in vivo（ヒト臨床試験）による測定
				div(id="ganttTable_div2")
			div(id="tabs-3")
				p 抗シワガイドライン対応試験や、化粧品などの使用試験
				div(id="ganttTable_div3")
			div(id="tabs-4")
				p 食品の有効性を評価するヒト試験
				div(id="ganttTable_div4")
		div(id="schedule_detail")
			p スケジュール詳細
