doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet",href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")
		script(src="jquery-ui-1.10.4.custom/js/jquery-1.10.2.js")
		script(src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="jQuery.Gantt-master/js/jquery.fn.gantt.js")
		script(src="javascripts/ScheduleTable.js")
		script(src="javascripts/GanttTable.js")
		link(rel="stylesheet" ,href="jQuery.Gantt-master/css/style.css")
		link(rel="stylesheet" ,href="stylesheets/schedule.css")
		script(type='text/javascript').
			$(function() {
				$( "#tabs" ).tabs();
					
				$('#schedule_detail').dialog({
					autoOpen: false,
					title: 'スケジュールの詳細',
					closeOnEscape: false,
					modal: true,
						buttons: {
							"OK": function(){
								$(this).dialog('close');
							}
						}
				});
				GanttTable.Init("ganttTable_div1","2014/05/07","2014/05/13");
				GanttTable.Init("ganttTable_div2","2014/05/07","2014/05/11");
				GanttTable.Init("ganttTable_div3","2014/05/07","2014/05/11");
				GanttTable.Init("ganttTable_div4","2014/05/07","2014/05/11");
				
			});
	body
		div(class="titlebar")
			span(class="titlebar") 
				a(href="portal") Home
			img(class="titlebar_logo" src="images/drc_logo.jpg")
			span(class="titlebar")= title
		div(id="tabs")
			ul
				li
					a(href="#tabs-1") 安全性試験
				li
					a(href="#tabs-2") SPF・UVAPF測定試験
				li
					a(href="#tabs-3") 化粧品有用性試験
				li
					a(href="#tabs-4") 食品ヒト試験
			div(id="tabs-1")
				p(style="font-size:small") (パッチテスト・RIPT)化粧品・医薬部外品の安全性試験
				div(class="toolbar")
					a(class="tool_button_a" id="add_subject") スケジュール追加
				div(id="ganttTable_div1")
			div(id="tabs-2")
				p in vivo（ヒト臨床試験）による測定
				div(id="ganttTable_div2")
			div(id="tabs-3")
				p 抗シワガイドライン対応試験や、化粧品などの使用試験
				div(id="ganttTable_div3")
			div(id="tabs-4")
				p 食品の有効性を評価するヒト試験
				div(id="ganttTable_div4")
		div(id="schedule_detail")
			p スケジュール詳細
