form#sightMasterForm(method="post" action="javascript:return false;")
  table
    tr
      td.form_title 表示名
      td
        input#sight_id(type="hidden" name="sight_id")
        input#sight_disp_str(type="text" name="sight_disp_str" required=true)
    tr
      td.form_title 支払日
      td
        select#sight_shiharaibi(name="sight_shiharaibi")
    tr
      td.form_title 支払月
      td
        select#sight_shiharai_month(name="sight_shiharai_month")
          option(value=0) 当月
          option(value=1) 翌月
          option(value=2) 翌々月
          option(value=3) 3ヶ月後 
          option(value=4) 4ヶ月後
          option(value=5) 5ヶ月後
          option(value=6) 6ヶ月後
    tr
      td.form_title メモ
      td
        input#sight_memo(type="text" name="sight_memo")
    tr
      td.form_title 削除フラグ
      td
        input#delete_check(type="checkbox" name="delete_check" value="1")
        label 削除
