form#sightInfoForm(method="post" action="javascript:return false;")
  table
    tr
      td.form_title 請求書締日
        td
          input#sight_client_cd(type="hidden" name="sight_client_cd")
          select#shimebi(name="shimebi" required="true")
    tr
      td.form_title 支払日情報
      td
        select#sight_id(name="sight_id")
