form#templateForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 項目名称
			td
				input#work_title(type="text" name="work_title" placeholder="作業項目名称")
				input#template_cd(type="hidden" name="template_cd" )
				input#template_name(type="hidden" name="template_name" )
				input#template_id(type="hidden" name="template_id" )
		tr
			td.form_title 種別
			td(colspan="3") 
				label
					input#item_type1(type="radio" name="item_type" value="0" checked="true")
					| 作業項目
				label
					input#item_type2(type="radio" name="item_type" value="1")
					| マイルストーン
		tr
			td.form_title 開始予定日
			td 
				input#start_date(type="number" min="1" max="365" name="start_date" size="3" placeholder="日数" value=1)
			td.form_title 終了予定日
			td 
				input#end_date(type="number" min="1" max="365" name="end_date" size="3" placeholder="日数" value=1)
		tr
			td.form_title 先行項目
			td 
				input#priority_item_id(type="text" name="priority_item_id" placeholder="先行項目")
			td.form_title 後続項目
			td 
				input#subsequent_item_id(type="text" name="subsequent_item_id" placeholder="後続項目")
