//
// ユーザ登録フォーム
//
form#userForm(method="post",action="javascript:return false;")
	table
		tr
			td.form_title 社員ID
			td 
				input#uid(type="text" name="uid" maxlength="32" pattern="^[0-9A-Za-z]+$" required="required" placeholder="社員ID(半角英数字、必須)")
			td.form_title 名前
			td 
				input#name(type="text" name="name" maxlength="64" required="required" placeholder="名前(必須)")
		tr
			td.form_title 社員番号
			td 
				input#u_no(type="text" name="u_no" maxlength="32" pattern="^[0-9A-Za-z]+$" placeholder="社員番号(半角英数字)")
			td.form_title 役職名
			td 
				input#title(type="text" name="title" maxlength="64" placeholder="役職名")
		tr
			td.form_title 拠点
			td 
				select#base_cd(name="base_cd")
					option(value="00") 共通
					option(value="01") 本社
					option(value="02") 札幌支社
			td.form_title 事業部
			td 
				select#division(name="division")
					option(value="01") SPF/PA試験
					option(value="02") 安全性評価試験
					option(value="03") 有用性試験
					option(value="04") 食品ヒト試験
					option(value="05") 代替法試験
		tr
			td.form_title 内線番号
			td 
				input#telno(type="text" name="telno" maxlength="16" placeholder="内線番号")
			td.form_title 入社日
			td 
				input.datepicker#start_date(type="text" name="start_date" placeholder="入社日")
	hr
	table
		tr
			td.form_title 権限設定
			td 
				select#auth_no(name="auth_no")
					option(value="p01") admin
					option(value="p02") 課長
					option(value="p03") 営業
					option(value="p04") 主任
					option(value="p05" selected="true") 一般社員
					option(value="p06") 派遣・アルバイト
			td.form_title 削除フラグ
			td
				input#delete_check(type="checkbox" name="delete_check" value="0")
				label 削除
